<footer class="footer1 d-grid"> 
       <span class="copyright">© 2021 Sardinian Disruption, All Rights Reserved</span>
       
       <ul class="footer-links d-flex">
           <li class="footer-item">
               <a href="/" id="home">
                   <span class="footer-item-text">Home</span>
               </a>
           </li>
           <li class="footer-item">
               <a href="/gallery" id="gallery">
                   <span class="footer-item-text">Gallery</span>
               </a>
           </li>
           <li class="footer-item">
               <a href="/articles" id="articles">
                   <span class="footer-item-text">Articles</span>
               </a>
           </li>
           <li class="footer-item">
               <a href="/about" id="about">
                   <span class="footer-item-text">About</span>
               </a> 
           </li>
           <li class="footer-item">
               <a href="/donate" id="donate">
                   <span class="footer-item-text">Donate</span>
               </a>
           </li>
           <li class="footer-item">
               <a href="/contact" id="contact">
                   <span class="footer-item-text">Contact</span>
               </a>
           </li>
       </ul>
       <a class="back-to-top d-flex" href="#" onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to top <i class="fas fa-arrow-up"></i></a>
       
       <div class="social-logos">
           <a href="https://twitter.com/sardiniaplasma"><i class="fab fa-twitter "></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
       </div>
   </footer>