<footer class=" footer2 d-flex">
    <header class="img-banner d-grid img-footer">
                <img src="../images/banner-images/ddj-outside.webp" alt="Domus de Janas Ludurru" Loading= "lazy">
                <img src="../images/banner-images/ddj-dell'orto.webp" alt="Domus de Janas dell'Orto" Loading= "lazy">
                <img src="../images/banner-images/sardinia-rock.webp" alt="Plasma eroded rock" Loading= "lazy">
                <img src="../images/banner-images/mandra-antine.webp" alt="Domus de Janas Mandra Antine" Loading= "lazy">
                <img src="../images/banner-images/nuraghi-site.webp" alt="Nuraghi site" Loading= "lazy">
                <img src="../images/banner-images/shcematic-mandra-antine.webp" alt="Schematic of Mandra Antine" Loading= "lazy">
                <img src="../images/banner-images/ddj-diagram.webp" alt="Domus de Janas Diagram" Loading= "lazy">
                <img src="../images/banner-images/MF_mandra_antine_ceilingscaled_down.webp" alt="Mandra Antine ceiling" Loading= "lazy">
                <img src="../images/banner-images/nuraghi2.jpeg" alt="One Nuraghe">
    </header>
        <div class="footer-content d-grid">
            <span class="copyright">© 2021 Sardinian Disruption, All Rights Reserved</span>
            
            <ul class="footer-links d-flex">
                <li class="footer-item footer-item2">
                    <a href="/" id="home">
                        <span class="footer-item-text">Home</span>
                    </a>
                </li>
                <li class="footer-item footer-item2">
                    <a href="/gallery" id="gallery">
                        <span class="footer-item-text">Gallery</span>
                    </a>
                </li>
                <li class="footer-item footer-item2">
                    <a href="/articles" id="articles">
                        <span class="footer-item-text">Articles</span>
                    </a>
                </li>
                <li class="footer-item footer-item2">
                    <a href="/about" id="about">
                        <span class="footer-item-text">About</span>
                    </a>
                </li>
                <li class="footer-item footer-item2">
                    <a href="/donate" id="donate">
                        <span class="footer-item-text">Donate</span>
                    </a>
                </li>
                <li class="footer-item footer-item2">
                    <a href="/contact" id="contact">
                        <span class="footer-item-text">Contact</span>
                    </a>
                </li>
            </ul>
            <a class="back-to-top d-flex" href="#" onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()">Back to top <i class="fas fa-arrow-up"></i></a>

            <div class="social-logos">
                <a href="https://twitter.com/sardiniaplasma"><i class="fab fa-twitter "></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
   </footer>
</div>