
<div class="header-nav2 nav2">
    <header class="img-header d-flex">
        <div class="logo d-flex logo-small">
            <a href="/" id="logo-link">
                <img src="../../images/logo/logo12.png" alt="Sardinian Disruption logo">
            </a>
        </div>
    </header>
    <nav class="colorless header-navigation d-flex ">
                <ul class="navigation-links d-flex">
                    <li class="nav-item2">
                        <a href="/" id="home">
                            <span class="nav-item-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a href="/gallery" id="gallery">
                            <span class="nav-item-text">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item2 articles-tab">
                        <a href="/articles" id="articles">
                            <span class="nav-item-text">Articles</span>
                        </a>
                        <div class="drop-down-bar-container">
                                <ul class="article-menu">
                                    <li id="first-menu-item" class="menu-item">
                                        <a href="/articles/why-the-nuraghi-were-built">
                                            <span class="menu-item-text">Why The Nuraghi Were Built</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/articles/plasma-peratt-environment">
                                            <span class="menu-item-text">Plasma: Peratt Environment</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/articles/death-of-the-megafauna">
                                            <span class="menu-item-text">Death of The Megafauna</span>
                                        </a>
                                    </li>
                                    <li id="last-menu-item" class="menu-item">
                                        <a href="/articles/caves-and-man">
                                            <span class="menu-item-text"> Caves and Man</span>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </li>
                    <li class="nav-item2">
                        <a href="/about" id="about">
                            <span class="nav-item-text">About</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a href="/donate" id="donate">
                            <span class="nav-item-text">Donate</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a href="/contact" id="contact">
                            <span class="nav-item-text">Contact</span>
                        </a>
                    </li>
                </ul>
                <div class="mobile-nav d-flex grey-color">
                    <i id ="mobile-nav-icon" class="fas fa-bars"></i>
                    <div class="mobile-nav-container">
                        <ul class="mobile-nav-menu">
                            <li id="first-nav-item-item" class="mobile-nav-item">
                                <a href="/">
                                    <span class="mobile-nav-text">Home</span>
                                </a>
                            </li>
                            <li class="mobile-nav-item">
                                <a href="/gallery">
                                    <span class="mobile-nav-text">Gallery</span>
                                </a>
                            </li>
                            <li class="mobile-nav-item">
                                <a href="/articles" >
                                    <span class="mobile-nav-text"><span>Articles <i class="fas fa-chevron-right"></i></span></span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a href="/about">
                                    <span class="mobile-nav-text"> About</span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a href="/donate">
                                    <span class="mobile-nav-text"> Donate</span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a href="/contact">
                                    <span class="mobile-nav-text"> Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>        
                </div>
    </nav>
</div>