    <nav class="colorless header-navigation d-flex ">
                <ul class="navigation-links d-flex">
                    <li class="nav-item2">
                        <a onclick="transitionToPage()" href="index.php" id="home">
                            <span class="nav-item-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a onclick="transitionToPage()" href="gallery.php" id="gallery">
                            <span class="nav-item-text">Gallery</span>
                        </a>
                    </li>
                    <li class="nav-item2 articles-tab">
                        <a onclick="transitionToPage()" href="articles.php" id="articles">
                            <span class="nav-item-text">Articles</span>
                        </a>
                        <div class="drop-down-bar-container">
                                <ul class="article-menu">
                                    <li id="first-menu-item" class="menu-item">
                                        <a onclick="transitionToPage()" href="why-the-nuraghi-were-built.php">
                                            <span class="menu-item-text">Why The Nuraghi Were Built</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a onclick="transitionToPage()" href="plasma-peratt-environment.php">
                                            <span class="menu-item-text">Plasma: Peratt Environment</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a onclick="transitionToPage()" href="death-of-the-megafauna.php">
                                            <span class="menu-item-text">Death of The Megafauna</span>
                                        </a>
                                    </li>
                                    <li id="last-menu-item" class="menu-item">
                                        <a onclick="transitionToPage()"href="caves-and-man.php">
                                            <span class="menu-item-text"> Caves and Man</span>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </li>
                    <li class="nav-item2">
                        <a onclick="transitionToPage()" href="about.php" id="about">
                            <span class="nav-item-text">About</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a onclick="transitionToPage()" href="donate.php" id="donate">
                            <span class="nav-item-text">Donate</span>
                        </a>
                    </li>
                    <li class="nav-item2">
                        <a onclick="transitionToPage()"href="contact.php" id="contact">
                            <span class="nav-item-text">Contact</span>
                        </a>
                    </li>
                </ul>
                <div class="mobile-nav d-flex grey-color">
                    <i id ="mobile-nav-icon" class="fas fa-bars"></i>
                    <div class="mobile-nav-container">
                        <ul class="mobile-nav-menu">
                            <li id="first-nav-item-item" class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="index.php">
                                    <span class="mobile-nav-text">Home</span>
                                </a>
                            </li>
                            <li class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="gallery.php">
                                    <span class="mobile-nav-text">Gallery</span>
                                </a>
                            </li>
                            <li class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="articles.php" >
                                    <span class="mobile-nav-text"><span>Articles <i class="fas fa-chevron-right"></i></span></span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="about.php">
                                    <span class="mobile-nav-text"> About</span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="donate.php">
                                    <span class="mobile-nav-text"> Donate</span>
                                </a>
                            </li>
                            <li id="last-mobile-nav-item"class="mobile-nav-item">
                                <a onclick="transitionToPage()" href="contact.php">
                                    <span class="mobile-nav-text"> Contact</span>
                                </a>
                            </li>
                            </ul>
                    </div>        
                </div>
            </nav>
        </div>
        <div class="container2 content">
