{{!-- pictures are in the footer instead of the header --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&family=EB+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />

    <script src="https://kit.fontawesome.com/7350a4a07a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{description}}>
    <meta name="keywords" content="anthony peratt plasma, plasma discharges sardinia, plasma discharges nuraghi, earth plasma sardinia, anthony peratt plasma universe, anthony peratt plasma universe sardinia, nuragic culture sardinia, nuraghi sardinia plasma, bronze age nuragic culture, sardinia geological formation, nuraghe shelters, nuraghe plasma, nuraghe archeology research, nuraghe electric universe, nuraghe plasma universe, megalith nuraghe research, plasma geological research, plasma geology effects, plasma geology, plasma colluvium, plasma megafauna, menhir megafauna, megafauna thunderbolts, megafauna peratt, dr peratt megafauna, nuraghi peratt environment, megafauna peratt environment, megafauna peratt event, megafauna extinction plasma, sardinia megafauna, nuraghi megafauna, plasma earth connection sardinia, plasma petroglyphs sardinia, z-pinch aurora petroglyph, z-pinch aurora megafauna, zpa megafauna, domus de janas z-pinch aurora, kauri trees z-pinch aurora, alaskan muck zpa, alaskan muck z-pinch aurora, sipsey event plasma, zpa ice wedges, mammoth bone furrows, mammoth bone furrows plasma, menhir petroglyph sardinia, menhir petroglyph sardinia plasma, carolina bays plasma, carolina bays z-pinch aurora, carolina bays sipsey events, colluvium caves plasma, colluvium caves, gravitational attraction plasma caves, gravitational attraction plasma, gravitational attraction, gravitational attraction examples, plasma cause gravity, plasma gravity field, plasma levitation colluvium, plasma levitation examples, plasma physics levitation, plasma creating colluvium, zpa creating colluvium, z-pinch aurora colluvium, zpa colluvium, caves gravitational sinks, cave gravitational sink, plasma cave sediment, sipsey event, peratt event, peratt environment, electricity plasma effects, Krakow Spadzista Street B, La Brea bone bed, kauri trees, How Do You Kill 86 Mammoths?, Dr. Pat Shipman, colluvium sardinia, neolithic farmers sardinia, Brian Cairns, menhirs, paleoarchaeology , paleoarchaeology sardinia">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&family=Italianno&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/browser/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/browser/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/browser/favicon-16x16.png">
    <link rel="manifest" href="/browser/site.webmanifest">
    <link rel="mask-icon" href="/browser/safari-pinned-tab.svg" color="#6c2d35">
    <meta name="msapplication-TileColor" content="#6c2d35">
    <meta name="theme-color" content="#6c2d35">
  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R4NWJ05YRF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R4NWJ05YRF');
    </script>
    
  </head>
  <body>
    <div class="wrapper2">
        <div class="page-container2">
            {{> header-nav2}}
            <div class="container2 content">
            {{{body}}}
            </div>

            {{> footer2}}
        </div>
    </div>

  </body>
    <script src="/javascripts/bundle.js"></script>
</html>