
<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">About</span>
</div>
<div class="about-container d-flex">   
    <div class="about-content">
        <div id="float-right">
            <img class="sardinia-map" src="../images/about-page/sardinia-map.png">
        </div>
        <div class="about-title page-title">
            <span>About Us</span>
        </div>
        <div class="about-description">
            Nothing on the island of Sardinia is explicable using the standard academic narratives.  The evidence is straight forward.  Dr. Anthony L. Peratt provided the scientific foundation, neolithic farmers provided the meticulously crafted images in the Domus de Janas' of what occurred. The island's geology sustains both.  The neolithic farmers recorded the return of what Dr. Peratt called the Z-pinch Aurora.  They were massive plasma structures that slowly moved over the island.  Where they connected to earth's plasma, a layer of bedrock was transformed (disappeared) back to plasma.   Ten thousand years ago the Z-pinch Aurora was intense enough to wipe out the Megafauna.  The Z-pinches will return someday as they have repeatedly in the past.  Our electro-machanical economic system, like the Megafauna, is highly vulnerable to their devastating effects.  Otherwise, it is back to the stone age.
        </div>
    </div>
</div>