<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <a class="breadcrumbs_greyText" href="/articles">
            <span>Articles</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Caves and Man</span>
</div>
     <div class="article-container d-flex">
        <div class="article-header d-flex border-b">
            <div class="article-title-meta">
                Caves and Man
            </div>
            <div class="d-flex">
                <div class="article-meta">
                    <span class= "author-meta">Brian Cairns</span><img class="caves-mammoth" src="../images/contact-page/mammoth.png"><span class="article-date">May 6, 2021</span>

                </div>
            </div>
        </div>
        <div class="article-main d-grid">
            <div class="article-navigation">
                <div class="nav-section author-section border-b">
                    <span class= "nav-author">
                         <img src="../images/contact-page/mammoth.png"><span>Brian Cairns</span>
                    </span>
                </div>
                <div class="nav-section d-flex flex-col border-b nav-category">
                    <span class="nav-title">Category</span>
                    <span class="nav-category">Caves</span>
                </div>
                <div class="nav-section d-flex flex-col border-b next-article">
                    <span class="nav-title">Next Article</span>
                    <a class="nav-new-article" href="/articles/why-the-nuraghi-were-built">Why The Nuraghi Were Built</a>
                </div>
                <div class="nav-section nav-back" >
                    <a class="go-back" href="/articles"> <i class="fas fa-arrow-left"></i>Back to All Articles </a>
                </div>
            </div>
            <div class="article-content">
                <h2 class="section-title" id="intro"><span>Introduction</span></h2>
                <p class="article-p insert">The first article in this series, <a href="/articles/why-the-nuraghi-were-built">Why The Nuraghi Were Built</a>, addressed what created the bizarre landscape pattern seen in the first image in the above-mentioned article. It was produced by massive plasma connections between earth and z-pinch auroras (ZPA), called a Peratt Event (PE), detailed in the Domus de Janas (DdJ). One product of the PE was colluvium. This article will look at what the islanders did in response to the colluvium, and what led to its accumulation in caves.</p>
                <h2 class="section-title" id="the-lesson-of-sardinia"><span>The Lesson of Sardinia</span></h2>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img  class="figure" src="../images/articles/caves-and-man/cd_Well_Predio_Canopoli.jpeg" alt="Well of Predio Canopoli " /><figcaption>a) Well of Predio Canopoli.</figcaption>
                    </figure>
                    <figure>
                        <img  class="figure" src="../images/articles/caves-and-man/cd_well_of_santu_antine2.jpeg" alt="Well of N. Santu Antine" /><figcaption>b) Well of N. Santu Antine.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 1</h5>

                <p class="article-p">The graphical images left by ancient farmers, the research of Dr. Peratt and the island’s landscape show that the island was subjected to numerous PEs. Two consequences of these events were levitation and the creation of colluvium. The combination of the two posed a serious threat to water supplies. This is evident in the elaborate efforts made by farmers to protect their water supplies.</p>
                <p class="article-p">The danger of PEs required farmers to heavily re-enforce their wells. This has lead to the erroneous conclusion that wells were part of a water cult. No substantive support exists for this notion. Wells were so constructed to protect water supplies from the effects of event shock occurring during Peratt environments. Furthermore, since wells penetrated earth, they had to remain sealed in the presence of levitated colluvium. A higher gravitational attraction potential (GAP) existed for wells because of their depth<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a><sup>,</sup><a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a>. As fig. 1 shows, the re-enforcement shielding indicated wells faced an extreme threat of rupture by an event shock. The slightest breach in a sealed well would allow clay or larger particles to stream in. The re-enforced wells were not the only adaptation farmers made.</p>
                <p class="article-p">On the origin of gravity, the Sardinian disruption raises some interesting facts. The islanders documented ZPAs as being double layered plasma structures. At least one form of double layered plasma exerts a force like gravity<a href="#fn9" class="footnote-ref" id="fnref9"><sup>9</sup></a><sup></sup>. The island's geologic evidence shows plasma sculpted the landscape, levitated colluvium, and was documented by man. Since current explanations for gravity are crickets, it will be asserted here that gravity is a force exerted by plasma. The means by which plasma does this remains to be seen.</p>
                <p class="article-p">The design of some DdJs indicate that they were so constructed to filter out the fine colluvial dust. In fig. 2, the lengthy entryway of a DdJ was chiseled out of solid rock, a task requiring much effort. When the DdJ was used as a shelter, the entry passage was probably covered. Therefore, colluvial dust, particularly clay<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a>, had to pass between the entry corridor's rock walls. The solid mass of rock would have exerted a small amount of gravitational attraction. In support of this assertion, a high school physics experiment can show a box of dirt exerts a measurable amount of gravitational attraction. In addition, researchers reported finding small pebbles with a thin <em>clay</em> coating on specimens taken from the Chagyrskaya Cave<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a>. The coating of clay could only have been applied while the stones were elevated during a Peratt environment. These corridors are a strong indication that elevated clay and larger particles were a serious problem for the farmers to overcome.</p>

                <div class = "d-grid article-col1 center ">
                    <figure>
                        <img class="single" src="../images/articles/caves-and-man/entryway_gravity_filter.jpeg" alt="A great deal of effort was spent chiseling this entryway out of solid rock. " /><figcaption>A great deal of effort was spent chiseling this entryway out of solid rock. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 2</h5>



                <h2 class="section-title" id="cave-excavations"><span>Cave Excavations</span></h2>
                <p class="article-p">Supporting evidence can be found in cave excavations. Rock levitated during Peratt events did not return whence it came. The pile of colluvium in fig. 4 shows levitated rock drifted to locations where gravity <em>persisted</em>. A cave offered one such destination because of its elevated GAP. This caused colluvium to drift inside. As the sediment drifted deeper into a cave, the earth's gravity grew stronger while the force exerted by the ZPA weakened. Therefore, Sardinian wells had to be sealed against the levitated sediment, otherwise the wells would have been swamped. Caves, on the other hand, while being one of the most protected environments on the planet, have become filled with sediment. They have become gravitational sinks.</p>
                <p class="article-p">The amount of sediment accumulation inside caves is rather shocking. A Portuguese cave, Lapa do Picareiro, had 10 meters of sediment. Russell Cave in Alabama had from 2 to 9 meters. Franchthi Cave in Greece had over 11 meters. Meadowcroft Rock Shelter contained 3 to 4 meters. Entrances of Lascaux, Fontechevade and Hidden Cave were sealed, or nearly so, at the time of their discoveries. The depth of debris was so great that they all required ladders or scaffolding to access excavations. The question is why do caves have large amounts of sediment?</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/cd_Franchthi.jpeg" alt="Franchthi Cave " /><figcaption>a) Franchthi Cave. </figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/cd_Lapa_do_Picariero.jpeg" alt="Lapa do Picareiro" /><figcaption>b) Lapa do Picareiro.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/cd_bisnik_cave.jpeg" alt="Bisnik Cave: Krzysztof Cyrek " /><figcaption>c) Bisnik Cave: Krzysztof Cyrek. </figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/cd_Sheridan.jpeg" alt="Sheriden Cave" /><figcaption>d) Sheriden Cave.</figcaption>
                    </figure>
                </div>
                <p class= "center"> Examples of colluvium.</p>
                <h5 class="center figure-title">Figure 3 </h5>

                <div class = "figure-margin grid article-col1 center ">
                    <figure class="figure-margin">
                    <img class=" figure " src="../images/articles/caves-and-man/cd_sardiniaColluviumExample.jpeg" alt="Image of colluvium from Sardinia. The random mix of particle sizes like those from the caves above can’t be replicated under normal gravity." /><figcaption>Image of colluvium from Sardinia. </figcaption>
                    </figure>
                </div>
                <h5 class="center figure-title"> Figure 4</h5>

                <p class="article-p">In fig. 3, there are examples of cave sediments. None of these depositions could have occurred in the presence of normal gravity. They are no different from colluvium in fig. 4. All share the same attribute of large and fine material randomly mixed. This pattern of deposition can’t be recreated in a laboratory but only in the near absence of gravity. Stratification seen in fig. 3c is the same as in the fig. 4. A standard explanation used to explain cave depositions is to declare it éboulis or material which flaked from ceiling and walls. However, a cave actively undergoing this process which supports the assertion is ever provided.</p>
                <p class="article-p">Levitation explains some perplexing problems regarding cave sedimentation. The only way sediment could have entered the cave was by floating in. Levitation explains why the deepest sediments are located at cave entrances. As material entered the cave, the GAP of surrounding rock began to increase. The heavier debris would have immediately started to fall out from the floating stream of sediment. One could think of it as a dense fog. As mentioned previously, Lascaux was nearly sealed. Russell cave’s deepest deposits were at the entrance. In the image of Fontechevade cave, fig. 5, debris almost sealed the entrance. Surrounding vegetation would have prevented the movement of sufficient sediment to seal the entrance. Another observation made about Lascaux was that the lowest layer was composed of clay which included ’natural casts of reeds’. No explanation is offered as to how this combination entered the cave. Cobbles found in the cave were attributed to a chimney, but no proof of it was provided to support the notion.<a href="#fn5" class="footnote-ref" id="fnref5"><sup>5</sup></a> Only levitation of material drifting toward points of highest GAP can explain how cave sediments occurred.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/FontechevadeBefore.jpeg" alt="Fontechevade before excavation" /><figcaption>a) Fontechevade before excavation.</figcaption>
                    </figure>

                <figure>
                    <img class="figure" src="../images/articles/caves-and-man/FontechevadeToday.jpeg" alt="Fontechevade after excavation" /><figcaption>b) Fontechevade after excavation.</figcaption>
                        </figure>
                    </div>
                <h5 class="figure-title">Figure 5</h5>

                <p class="article-p">The disposition of deposits sustains the notion of levitated drift. In the schematic of Fontechevade cave, a line of cobbles is shown trailing inside. The only explanation for the location of these stones is levitated drift. In Bisnik Cave, located in Poland, the sediment in the deepest parts had a higher amount clay and less sand and silt. Clay is the smallest sub-sand particle, so it has a lower response to GAP. This allowed it to drift further into the cave interior before falling out of the incoming stream of sediment<a href="#fn6" class="footnote-ref" id="fnref6"><sup>6</sup></a>.</p>

                <div class = "grid article-col1 center ">
                    <figure>
                        <img class="single" src="../images/articles/caves-and-man/FontechevadeSchematic.jpeg" alt="Fontechevade schematic with large cobbles trailing inside" /><figcaption>Fontechevade schematic with large cobbles trailing inside.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 6</h5>

                <p class="article-p">Hidden Cave near Fallon, Nevada clearly illustrates caves becoming gravitational sinks. When it was found, the entrance was sealed with a ’debris cone’ like Fontechevade Cave. Researchers agree it was never occupied as an abode. They said it had been used for ’storage’. <span class="math inline"><em>C</em><sup>14</sup></span> dating indicates the cave was used from 3800 to 3150 BP and from 1900 to 1500 BP. The interior was described as very dusty implying a very fine sediment. The sediment was probably comprised of clay and silt, these being common constituents of cave deposits. Furthermore, sustaining the cave as a gravitational sink was a thin layer of white Mount Mazama ash, fig. 7b, from a volcano that exploded in  5000 BC. The only way this material could have entered was by having floated in as a consequence of a Peratt environment neutralizing earth’s gravity. This cave followed the general pattern of cave sediments with the coarser material tending to fall out of the stream of levitated sediment first and the finer penetrating deeper into interior.<a href="#fn7" class="footnote-ref" id="fnref7"><sup>7</sup></a></p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/CaveHidden.jpeg" alt="Stratified deposition of Hidden Cave" /><figcaption>a) Stratified deposition of Hidden Cave.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/caves-and-man/Cave_Hidden_mazama_ash.jpeg" alt="White band at bottom is Mazama ash" /><figcaption>b) White band at the bottom is Mazama ash.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 7</h5>

                <p class="article-p">Another clear example of caves as gravitational sinks is On Your Knees Cave in Alaska<a href="#fn8" class="footnote-ref" id="fnref8"><sup>8</sup></a>. The cave’s horizontal passages were filled almost to the ceiling with sediments, yet no source for this debris could be found. Furthermore, it was poorly sorted and mixed with fossils which mostly date prior to the Last Glacial Maximum. So for the last 50,000 years, passages slowly filled as debris floated inside when PEs occurred in the area. Researchers stated that the presence of the deposition was poorly understood.</p>
                <p class="article-p">A final example of a cave being a gravitational sink is Natural Trap Cave in Utah. It is a 85 foot deep hole on the top of a hill containing a deep layer of sediment and Pleistocene bones but none from the Holocene. Researchers state that the animals fell to their deaths after blundering into the hole. Articulated skeletons weren’t reported as one would expect if animals fell in. Since no Holocene bones were reported, the ’blundering’ notion is highly questionable. Holocene animals weren’t any smarter than those of the Pleistocene. Natural Trap Cave was just a vertical cave. Like all other caves, debris floated in during Peratt environments episodes.</p>
                <p class="article-p">Explanations for the origin of cave sediments are just theoretical illusion and fantasy. Current narratives can’t explain the deposition in fig. 4, but when colluvium is found in a cave, numerous explanations have been advanced. Research papers used terms ranging from sheet wash, wind, water, chimneys, éboullis, carnivore urine, etc. to justify the presence of cave sediment. These literary illusions have allowed narratives to hurry past this inexplicably troubling material. Man never used caves for abodes but as shelters during Peratt environments. Cave sediments recorded these periods. ZPAs will return as they have continuously done so in the past. If technical skills aren’t in place to drain the ZPA before they reach connection stage, life will get unpleasant.</p>
                <section class="footnotes border-t">
                <ol  class="footnotes">
                <li id="fn1"><p>GAP is a term used to differentiate, using deposition of colluvium as a guide, the gravitational attraction of flat land versus that compared the inside of a well, cave or a hillside or nuraghe. The only explanation for the gravitational change on the island was the presence of the plasma structures overhead.<a href="#fnref1" class="footnote-back">↩</a></p></li>
                <li id="fn2"><p>’...parallel Birkeland currents moving in the same direction will attract with an electromagnetic force inversely proportional to their distance apart,’ same as gravity. See plasma-universe.com/Birkeland-current.<a href="#fnref2" class="footnote-back">↩</a></p></li>
                <li id="fn3"><p>Clay, the finest of soil particles, is 3 to 20 microns in size.<a href="#fnref3" class="footnote-back">↩</a></p></li>
                <li id="fn4"><p>Archaeological evidence for two separate dispersals of Neanderthals into southern Siberia, Supp. Info., Kseniya A. Kolobova, Richard G. Roberts, et al.;pnas.org<a href="#fnref4" class="footnote-back">↩</a></p></li>
                <li id="fn5"><p>Taphonomy and the concept of Paleolithic Cultures : the case of the Tayacian from Fontéchevade (Charente, France) Harold L. Dibble, Shannon P. Mcpherron, Philip G. Chase. A chimney is a hole in the cave ceiling leading to the outside whereby rocks supposedly entered the cave.<a href="#fnref5" class="footnote-back">↩</a></p></li>
                <li id="fn6"><p>Palaeolithic of Bisnik Cave (Southern Poland) within the environmental background Krzysztof Cyrek, Pawe1 Socha, Krzysztof Stefaniak, Teresa Madeyska, Joanna Miros1aw-Grabowska, Magdalena Sudo1, p 6<a href="#fnref6" class="footnote-back">↩</a></p></li>
                <li id="fn7"><p>https://www.amnh.org/research/anthropology/curatorial-research/north-american-archaeology/projects/hidden-cave-nv<a href="#fnref7" class="footnote-back">↩</a></p></li>
                <li id="fn8"><p>http://apps.usd.edu/esci/alaska/oykc.html<a href="#fnref8" class="footnote-back">↩</a></p></li>
                <li id="fn9"><p>https://www.plasma-universe.com/Birkeland-current/<a href="#fnref9" class="footnote-back">↩</a></p></li>

                </ol>
                </section>

            </div>
        </div>
    </div>