<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <a class="breadcrumbs_greyText" href="/articles">
            <span>Articles</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Death of the MegaFauna</span>
</div>
    <div class="article-container d-flex">
        <div class="article-header d-flex border-b">
            <div class="article-title-meta">
                Death of The MegaFauna
            </div>
            <div class="d-flex">
                <div class="article-meta">
                    <span class= "author-meta">Brian Cairns</span><img src="../images/contact-page/mammoth.png"><span class="article-date">March 30, 2021 </span>

                </div>
            </div>
        </div>
        <div class="article-main d-grid">
            <div class="article-navigation">
                <div class="nav-section author-section border-b">
                    <span class= "nav-author">
                         <img src="../images/contact-page/mammoth.png"><span>Brian Cairns</span>
                    </span>
                </div>
                <div class="nav-section d-flex flex-col border-b nav-category">
                    <span class="nav-title">Category</span>
                    <span class="nav-category">MegaFauna</span>
                </div>
                <div class="nav-section d-flex flex-col border-b next-article">
                    <span class="nav-title">Next Article</span>
                    <a class="nav-new-article" href="/articles/caves-and-man">Caves and Man</a>
                </div>
                <div class="nav-section nav-back" >
                    <a class="go-back" href="/articles"> <i class="fas fa-arrow-left"></i>Back to All Articles </a>
                </div>
            </div>
            <div class="article-content">
                <h2 class="section-title" id="intro"><span>Introduction</span></h2>
                <p class="article-p insert"> Sardinia is the key to understanding what lead to the Megafauna’s
                (MF) demise. Probably due to its small size in the Mediterranean Sea,
                Sardinia’s landscape has been deeply scarred by what Dr. Anthony L.
                Peratt termed the ’Z-Pinch Aurora’ (ZPA).<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> From their graphic 
                representations in the Domus de Janas’ (DdJs) and on menhirs, neolithic farmers documented at least two threats from ZPAs. They were the ’Peratt
                Event’ (PE) and ’Sipsey Event’ (SE). The ZPA, PE and SE constitute a
                Peratt environment. These events can be directly tied to MF’s destruction. This article will detail evidence about how the MF were wiped out
                by PEs or SEs from ZPAs.</p>
                <p class="article-p">The term Peratt environment is used when it is not possible to distinguish between the two forces involved. The examples below were either the consequences of plasma, PEs, or electricity, SEs. Plasma sculpted the terrain in a major way, and electricity did so in a minor way. Since this narrative is based on photographic evidence, it is not always easy to differentiate the two effects at a micro level, so the term Peratt environment is used.</p>
                <h2 class="section-title" id="peratt-events"><span>Peratt Events</span></h2>
                <p class="article-p" >Tens of millions of animals do not disappear in a few thousand years except by a force far beyond current perceptions. Theories for the MF’s demise range from comets to human predation, notions that are unsubstantiated. The sculpted landscape around Gesico, Sardinia, (figure 1) proves a force wholly unknown to science had profoundly altered the landscape.<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a> Its power was sufficient to destroy the MF.</p>
                <p class="article-p">The death of the Megafauna is no mystery if the trail of evidence from Sardinia to the Arctic is followed. They were either killed when torn to pieces by massive plasma events, (PE) or by electrical bolts, (SE). While Dr. Peratt did not state plasma exchanges occurred between the ZPA and earth,<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a> he did say the ZPA would become <em>narrow, dense and red</em> as it descended toward earth. Graphics left in the Domus de Janas' (DdJ) in Sardinia portray this precise image. Meticulous care was taken in creating the images that documented these occurrences. In the images, one sees the highly charged ribbons of plasma that swept slowly over the island releasing massive plasma discharges.</p>

                <div class = "d-grid article-col1 center ">
                    <figure class="center">
                        <img class="single" src="../images/articles/death-of-the-megafauna/gesico_landscape.jpeg" alt="Mapbox image: Landscape near Gesico, Sardinia" /><figcaption> Mapbox image: Landscape near Gesico, Sardinia</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 1</h5>


                <p class="article-p">In <em>Donna Nuragica’s</em> images of DdJ Mandra Antine (figure 2), a neolithic farmer captured a Peratt event. Certain observations can be made from this image. Dr. Peratt stated that the ZPA would be narrow which is what’s portrayed on the ceiling in <em>Nicola Castangia’s</em> superb image, figure 2b, if one looks up. The image shows the ZPAs and the connecting herringbone pattern of plasma circuitry. The square column represents the plasma connection from the ZPA to earth. It may be a mistake to view the PE as a massive plasma bolt striking the surface. Both the ZPA and the descending plasma, figure 2a, are red. The images in other DdJs always showed multiple ZPAs. It appears that they spanned from horizon to horizon.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure >
                        <img  class="figure" src="../images/articles/death-of-the-megafauna/MFmandra_antine_scaled_down.jpeg" alt="Plasma-earth connection descending from ZPA" /><figcaption> a) Plasma-earth connection.</figcaption>
                    </figure>

                    <figure>
                        <img  class ="figure" src="../images/articles/death-of-the-megafauna/MF_nicola_castangia_ddj_sincantu.jpeg" alt="ZPA seen from below" /><figcaption>b) ZPA seen from below.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 2</h5>

                <p class="article-p">Castangia’s image of DdJ S’Incantu<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a> provides more detail of the ZPA’s structure portrayed on the ceiling. Plasma is represented with the color red, and the void of space is black (Sometimes images show space set in lower relief). Apparently, each z-pinch was not a solid band of plasma, but two narrow parallel bands separated by short distance of space. What Dr. Peratt called a double layer. The ZPA (figure 2b) running down the middle of the ceiling is presented as two thin, red bands divided by black. The two red, narrow bands connect on either side of neighboring z-pinches by the plasma circuitry in a herringbone pattern. From the ZPA, a ribbon of plasma descends to earth as portrayed by the square column. This image was so carefully crafted that the creator wanted to document what was witnessed during an event.</p>
                <p class="article-p">Across the world, there is evidence of massive destructive forces unleashed on the land. The Kauri trees in New Zealand, Baldcyprus in South Carolina, the La Brea bone bed and shredded forests in Alaska, all are found buried without explanation of the contributing cause. Sardinia clearly identifies what force caused the destruction.</p>
                <p class="article-p">Dr. Pat Shipman titled a paper "How Do You Kill 86 Mammoths?", the answer is with a Peratt or Sipsey Event (Sipsey Event is explained below). The Earth went through a period 10 to 12 kya (thousand years ago) of very intense Peratt environments. Evidence supporting this assertion is abundant on Sardinia, Alaska and Siberia. Animals caught by a plasma event were torn apart. Events on Sardinia were exponentially smaller than what occurred on continental land masses, but evidence makes it very clear the role ZPAs played in wiping out the MF.</p>
                <p class="article-p">Fred Plummer made several observations about the effects of lightning that are of interest here. He said when electricity enters a tree from the root system its effect is explosive. Trees can be blown to pieces, and their bark and leaves stripped off. Wood can be perforated with holes like that of worms. A strike can cut furrows, generally parallel, into the trunk. Parallels in the behavior of electricity can be found today with what occurred thousands of years ago.<a href="#fn5" class="footnote-ref" id="fnref5"><sup>5</sup></a></p>
                <p class="article-p">Figure 3 is an example of damage caused by lightning. Seventy-five percent of the bark from crown to base was stripped. The trunk had several deep cracks running its length. Some leaves and small stems were stripped. No evidence of heat was found. In figure 3b, some of the phloem was shredded like a brush. The stripping of leaves and bark was a consistent pattern associated with trees knocked down during the plasma driven Peratt environment. The destruction similar to this oak has been well documented world-wide.</p>
                <div class = "d-grid article-col1-col1 center ">
                    <figure >
                    <img class="figure" src="../images/articles/death-of-the-megafauna/MF_lightningtreeP1030520.jpeg" alt=" Lightning damage to tree" /><figcaption> a) Lightning damage to tree.</figcaption>
                    </figure>

                    <figure>
                    <img class="figure" src="../images/articles/death-of-the-megafauna/MF_lightningtreedetailP1030528.jpeg" alt=" Detail of damage to tree" /><figcaption> b) Detail of damage to tree.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 3</h5>

                <p class="article-p">The devastating power of the PE or SE is seen in the buried trees found across the world. Two images, figure 4, are of excavated Baldcyprus and Kauri trees. The latter is missing its bark. The Cyprus was struck by a lateral force so violent that both ends were snapped off. Only the shock from a PE could have broken both the crown and root ends. In figure 3a, the area around the trunk was littered with bark, leaves and twigs from the tree. Similarly, buried Kauri trees were found with green leaves lying beneath them. This also was an indication of rapid burial after being felled. William Bartram, in 1777, reported finding Cyprus stumps and logs exposed at the bottom of a 100 foot Mississippi River bank.<a href="#fn6" class="footnote-ref" id="fnref6"><sup>6</sup></a> The only force capable of snapping off or felling an entire tree and then burying logs and trees was a PE or SE.</p>
                <div class = "d-grid article-col1-col1 center ">

                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_Baldcyprus_log.jpeg" alt="Bald Cyprus tree" /><figcaption> a) Bald Cyprus tree.</figcaption>
                    </figure>
                    
                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_Kauri_log.jpeg" alt="Kauri tree" /><figcaption> b) Kauri tree.</figcaption>
                    </figure>
                </div>
                    <h5 class="figure-title">Figure 4</h5>

                <p class="article-p">Considerable research has been directed toward the mysterious ’muck’ deposits found in Alaska, figure 5. They are composed of ripped apart trees, animals, pebbles, silt, clay, etc., which are all products of Peratt environments. PEs or SEs are the only forces with the power to produce such a mass of debris. At Engineer Creek, J. L. Giddings documented four levels of shredded forests. The topmost three spanned 307 years. Each level grew above the other in peaty soil. The only mechanism capable of successively destroying the forests were Peratt environments.<a href="#fn7" class="footnote-ref" id="fnref7"><sup>7</sup></a> The age of the trees Giddings’ studied were 10 kya.<a href="#fn8" class="footnote-ref" id="fnref8"><sup>8</sup></a> In Alaska, the mass of shredded trees, peat and soil is called muck. This conglomerate of organic and inorganic material was found containing bones, wood and rock fragments, some of which were too heavy to be moved by known means. Mummies found buried in Alaska and Siberia had numerous broken bones.<a href="#fn9" class="footnote-ref" id="fnref9"><sup>9</sup></a> The only demonstrable force capable of wreaking such destruction on rock, trees and animals, as seen in figure 5, was the Peratt environment.</p>
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/death-of-the-megafauna/MF_Muck.jpeg" alt="’Muck’: Shredded forests of Alaska" /><figcaption>’Muck’: Shredded forests of Alaska.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 5</h5>

                <h2 class="section-title" id="sipsey-events"> <span>Sipsey Events</span></h2>
                <p class="article-p">At least two threats are posed by the plasma Peratt Environment. The first is the aforementioned Peratt Event (PE) and the second was the Sipsey Event (SE). The first was plasma, and the second was electrical. The SE left a round print on the landscape that corresponded to its shape and size. Like the PE, the SE emerged directly from the ZPA.<a href="#fn10" class="footnote-ref" id="fnref10"><sup>10</sup></a> Their effect on the land may have differed only in degree rather than substance since the plasma event was exponentially more powerful than the electrical.</p>
                <p class="article-p">The Sipsey print, figure 6b, resolves another mystery that perplexes researchers. Five prints like this are clustered in a road cut in Sipsey, Alabama. The image bears a striking similarity to the ice wedges found in Arctic permafrost, figure 6a. Researchers believe the source of the ice wedges found in the Arctic emerged from cracks in the permafrost. However, the actual source were powerful SEs that drilled wedge shaped holes into the permafrost. These were later filled with summer melt water or with material excavated by PEs. The density of the prints at Sipsey is similar to the density of ice wedges found in the Arctic. The vast number of ice wedges found in the Arctic’s permafrost shows that a multitude of SEs were spawned by ZPAs as they moved over land.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_Ice_wedges_new.jpeg" alt="Photo: V. Tumskoy Ice Wedges" /><figcaption>a) <em>V. Tumskoy,</em> Ice Wedges.</figcaption>
                    </figure>

                    <figure>
                        <img  class="figure" src="../images/articles/death-of-the-megafauna/MF_sipseyP1030506.jpeg" alt=" SE Print" /><figcaption> b) SE Print.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 6</h5>

                <p class="article-p">As the ZPAs progressed over the landscape, a multitude of SEs struck the earth. They originated along the length of the ZPA and not from the center. Neolithic farmers represented these SEs with the line of menhirs, figure 9b. The image of a bolt was chiseled on the menhir. It might be likened to a moving line of electrical discharges destroying much of what was in its path. As this line of electrical strikes advanced, Megafauna were driven before it. The panicked animals could become densely packed. They could be driven into a location which had no exit. The bone bed found at Krakow Spadzista Street B in Poland was isolated on three sides.<a href="#fn11" class="footnote-ref" id="fnref11"><sup>11</sup></a> Approximately 86 animals were driven into the location. A PE or SE occurred destroying those caught in its zp-print. The shattered skeletons found at Spadzista Street are typical of the fragments found in Alaska and Yukon.<a href="#fn12" class="footnote-ref" id="fnref12"><sup>12</sup></a> Bone beds share a common attribute of being composed of a jumbled mass of bones with few being articulated.</p>
                <p class="article-p">Animals outside the zp-print were slammed by the SE shock and either killed or mortally wounded. The baby mammoths "Lyuba" and "Dima" were both struck by the shock and survived for a period time while breathing in silt, clay and sand.<a href="#fn13" class="footnote-ref" id="fnref13"><sup>13</sup></a> It was found in their lungs, trachea and bronchi; in the former’s case, death was by asphyxia. Apparently the two mammoths were buried alive. Both the PE and SE raised a cloud of colluvium that descended where gravity persisted.<a href="#fn14" class="footnote-ref" id="fnref14"><sup>14</sup></a> The cloud descended around the two mammoths slowly burying and suffocating them. The Selerikan horse had breaks in both front legs, in some ribs and was buried eight meters down. The Berezovka Mammoth was found down at the back legs with a broken hip, but up on the front legs. This was the same posture taken by swine that suffered lightning stroke.</p>
                <p class="article-p">A necropsy was performed on a group of swine that suffered a lightning stroke. They sustained remarkably similar injures to that of the Megafauna. Some swine suffered severe pelvic damage with the ilium and ischium appearing crushed. This put them down at their back legs, but up on the front legs. Their last lumbar vertebra also was crushed. The femur appeared to have been driven forcefully into the acetabulum. Hemorrhaging and broken ribs were also found.<a href="#fn15" class="footnote-ref" id="fnref15"><sup>15</sup></a> The mummy of the Siberian Berezovka mammoth suffered similar injuries. It had a broken pelvis, shoulder blade, ribs, foreleg and significant internal bleeding. The bones from a group of Siberian mammoths, Berelyokh mammoths, suffered mass destruction of the joints.<a href="#fn16" class="footnote-ref" id="fnref16"><sup>16</sup></a> Damage was attributed to diet related disease, but over 30% of the animals were under the age of 10. The age profile is that of a healthy herd. Given the similarity of destruction among all these animals, the cause was a plasma environment.</p>

                <div class = "d-grid article-col1-col1 center">
                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_electrical_erosion_rock.jpeg" alt=" Plasma eroded rock." /><figcaption>a) Plasma eroded rock.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_electrical_erosion_bone.jpeg" alt="S. V. Leshchinskiy: plasma eroded bone." /><figcaption> b) <em>Leshchinskiy,</em> plasma eroded bone.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 7</h5>

                <p class="article-p">A perplexing mystery are the bones found with cavities and holes. These particular features have been attributed to disease, ulcers or dietary deficiency. While some of these indicators could be disease related, most resulted from plasma erosion. The image of the plasma eroded rock, figure 7a, is typical of rock seen on Sardinia. It closely matches the bone on the right, figure 7b. Both bone and stone share the common trait of sharply defined edges which resulted from plasma erosion. The spinous process of the vertebra display the same hollows and perforations. The largest age range of mammoth bones found at Krakow Spadzista Street B was between 0-12 years.<a href="#fn17" class="footnote-ref" id="fnref17"><sup>17</sup></a> This profile is not indicative of a herd subject to widespread disease, rather that of a healthy herd.</p>
                <p class="article-p">Hollows like those on the mammoth bone were found among about three percent of bison bones at the La Brea Tar Pits. These features were located on the ankle and attributed to Dermestid beetles. However, the cavities did not have insect’s signature marks<a href="#fn18" class="footnote-ref" id="fnref18"><sup>18</sup></a> which the researcher acknowledged. The bone bed at La Brea is a typical randomly deposited mass of disjointed bones from animals extinguished by the Peratt environment. They were driven before a curtain of SE as the ZPA slowly moved over the terrain. A PE or SE struck the massed animals at La Brea and blew them to pieces.</p>
                <p class="article-p">Krakow Spadzista Street B is a location where 80+ mammoths died. Researchers agree they died in the place of deposition which was only accessible from one side. Numerous teeth were found with cement furrows, a feature quite mysterious to researchers.<a href="#fn19" class="footnote-ref" id="fnref19"><sup>19</sup></a> The mammoth molar in figure 8b is an example of two parallel cement furrows. Over 90% of the Berelyokh Mammoths had furrows. Fred Plummer said lightning can produce multiple furrows usually in parallel as seen in figure 8a. The animals at both locations were in pieces. The only explanation for the destruction of these animals was the plasma driven Peratt environment.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                    <img class="figure" src="../images/articles/death-of-the-megafauna/MF_furrows_lightning.jpeg" alt="Preservation Tree: Furrows caused by lightning." /><figcaption> a) Preservation Tree: Furrows caused by lightning.</figcaption>
                    </figure>

                    <figure>
                    <img class="figure" src="../images/articles/death-of-the-megafauna/MF_furrows_mammoth_molar.jpeg" alt=" Two furrows on mammoth molar. " /><figcaption>b) Two furrows on a mammoth molar. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 8</h5>

                <h2 class="section-title" id="warning-of-the-menhirs"> <span>The Warning of the Menhirs</span></h2>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_menhir_bolt2.jpeg" alt="Donna Nuragica " /><figcaption> a) <em>Donna Nuragica,</em> menhir. </figcaption>
                    </figure>
                    
                    <figure>
                        <img class="figure" src="../images/articles/death-of-the-megafauna/MF_menhir_line2.jpeg" alt=" Paolo Lombardi, neroargento.com: " /><figcaption> b) <em>Paolo Lombardi, neroargento.com:</em> menhirs. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 9</h5>

                <p class="article-p">Another perplexing mystery found across Europe is the meaning of the menhirs. What was their message? These stone monoliths are found singly, in small groups and sometimes in a row. Once again, it’s Sardinia’s neolithic farmers who explain what they represented. Chiseled on the top of the menhir’s face, figure 9a, is represented a plasma column descending from the ZPA (partly missing). This type of image is commonly seen in Sardinia’s DdJs. Below the z-pinch image is probably the other component of a Peratt environment, the SE. The line of menhirs, figure 7b, probably represented the vast number of SEs that descended directly from the ZPA. These occurred below the ZPAs as they progressed over the landscape. Menhirs are records of what occurred when the ZPAs passed over the island.</p>
                <p class="article-p">A curious feature of figure 9a, is the round sphere terminating the plasma column. This probably represented a colluvium cloud raised by a PE. These clouds were composed of clay, silt, sand, pebbles, cobbles or greater stones. To be included on the menhir, it must have been a significant issue for the farmers. This material is in ubiquitous association with the buried logs and stumps. For example, during the excavation on K Street in Washington DC., stumps were found in growth position buried in a 10 foot layer of clay and silt. Montroville W. Wilson reported the origin of the clay found burying Cyprus logs and stumps could not be attributed to any known source.<a href="#fn20" class="footnote-ref" id="fnref20"><sup>20</sup></a> Sediments like these are found in association with bone beds.</p>
                <h2 class="section-title" id="bone-beds"><span>Bone Beds</span></h2>
                <p class="article-p">At the Bonfire Shelter in Texas, there are a number of bone beds that were found originating from supposed jumps. Jumps were locations where humans, supposedly, stampeded animals over a cliff for the purpose of harvesting meat. However, Bone Bed 1, the earliest jump, contained animals that could not be stampeded. These were mammoths, camels, horses, bison and antelopes, all Pleistocene. The bones of these animals were found inside the shelter, a fact that perplexed researchers. When they were destroyed in the Peratt environment, their remains went were gravity persisted, namely inside the shelter.<a href="#fn21" class="footnote-ref" id="fnref21"><sup>21</sup></a> No stone tools were found associated with them nor could the movement be contributed to the river. A <span class="math inline"><em></em><sup>14</sup><em>C</em></span> (Carbon-14) date of 11,500 BC was recorded. A mammoth long bone fragment was found with deep conical punctures that was attributed to carnivores.<a href="#fn22" class="footnote-ref" id="fnref22"><sup>22</sup></a> Such damage is not what carnivore teeth can do or are designed to do. It is far more likely to be a result of electrical erosion. Given the density of the prints left at Sipsey and in the Arctic, Bonfire is more evidence of the Peratt environments that swept across the land. In which, the ZPAs drove animals over the cliff to their deaths. Evidence exists supporting this assertion which will be reviewed below.</p>
                <p class="article-p">Bone Bed 2 of the Bonfire Shelter is treated as a jump. However, to researchers it appeared like the animals were not scavenged. Too few tools were found to justify the butchering of 120 animals. ’Massive’ layers of colluvium were found, "...containing abundant angular to subangular gravels and cobbles within a friable brown sandy loam matrix."<a href="#fn23" class="footnote-ref" id="fnref23"><sup>23</sup></a> These are products of Peratt events. Bonfire, like so many of the bone bed locations, afforded no exit. Animals were herded to the cliff edge and destroyed.</p>
                <h2 class="section-title" id="carolina-bays"><span>Carolina Bays</span></h2>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure"src="../images/articles/death-of-the-megafauna/MF_carolina_bays_lidar.jpeg" alt="Lidar image " /><figcaption>a) Lidar image. </figcaption>
                    </figure>

                    <figure>
                        <img class="figure"src="../images/articles/death-of-the-megafauna/MF_carolina_bays_google.jpeg" alt=" Google image " /><figcaption> b) Google image. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 10</h5>

                <p class="article-p">One of the perplexing mysteries of the southern Atlantic Coast are the Carolina Bays (CB), figures 10a-b. While their origin is a mystery to researchers, they are in fact round electrical SE prints that were left when ZPAs swept over this location from northwest to southeast. The Bays may have occurred during the final act of the MF’s death drama. A few have diameters of two kilometers which attest to massive size of the electrical discharges. Some are round while others are elliptical. Rims were created around most SE prints when levitated colluvium migrated to the print’s edge where gravity persisted. When the round discharge moved a short distance to southeast, an elliptical print was created. This slight movement generated more colluvium in that direction. The extra debris raised slightly the southeastern rim height, a feature that has perplexed researchers. The rims and basins of the Bays are composed of peat, logs, clay, silt and sand with no stratification, the ubiquitous evidence of a visit by the ZPAs.<a href="#fn24" class="footnote-ref" id="fnref24"><sup>24</sup></a> Only burrowing mammals could have survived such an onslaught pictured in the images. The density shown above strongly suggests Sipsey Events probably had a greater destructive impact on the MF in the Peratt environment.</p>
                <p class="article-p">Repeated appearances of the ZPAs destroyed the Megafauna. Meticulously crafted images recorded what neolithic farmers experienced. These images should be national treasures, but are not. The island’s geology sustains those pictures since only an extremely powerful force could have excavated the rock necessary to create zp-prints. At about ten kya, a period of very intense Peratt environments finally extinguished the Megafauna except for a few on Wrangell Island. The building of the nuraghi shows they’ve returned since. When the ZPAs return even in a <em>very</em> minor way as they have repeatedly since ten kya, the heavily metal dependent modern infrastructure will face catastrophic damage to the location in which they descend. ZPAs represent a massive challenge. A huge amount of science and engineering must be implemented in preparation for their return. However, preparation for their return will uncover the hidden science of plasma, and bring with it the monumental benefit of opening the plasma age.</p>
                <section class="footnotes border-t">
                <ol class="footnotes">
                <li id="fn1"> <p>Dr. Peratt did not say an exchange occurred between earth and ZPA. This conclusion is inferred from images in the Domus de Janas, (DdJ).<a href="#fnref1" class="footnote-back">↩</a> </p></li>
                <li id="fn2"><p>For a complete explanation of Sardinian terrain see the previous article, 'Why The Nuraghi were Built'<a href="#fnref2" class="footnote-back">↩</a></p></li>
                <li id="fn3"><p>This conclusion is inferred from images in Domus de Janas.<a href="#fnref3" class="footnote-back">↩</a></p></li>
                <li id="fn4"><p>https://www.flickr.com/photos/nicolacastangia/25079512302/<a href="#fnref4" class="footnote-back">↩</a></p></li>
                <li id="fn5"><p>Fred G. Plummer, <em>LIGHTNING IN RELATION TO FOREST FIRES</em>. U. S. Department of Agriculture Forest Service Bulletin 111 September 12, 1912, p. 6<a href="#fnref5" class="footnote-back">↩</a></p></li>
                <li id="fn6"><p>Ancient Baldcypress Forests Buried in South Carolina, David W. Stahle, R. Daniel Griffin, Malcolm K. Cleaveland, and Falko K. Fye, article<a href="#fnref6" class="footnote-back">↩</a></p></li>
                <li id="fn7"><p>Giddings, J. L., Jr., 1938. "Buried Wood from Fairbanks , Alaska." Tree Ring Bulletin, Vol. 4, No. 4, pp. 3-5<a href="#fnref7" class="footnote-back">↩</a></p></li>
                <li id="fn8"><p>Impact-related microspherules in Late Pleistocene Alaskan and Yukon “muck” deposits signify recurrent episodes of catastrophic emplacement; Jonathan T. Hagstrum, et al, chart, p. 3<a href="#fnref8" class="footnote-back">↩</a></p></li>
                <li id="fn9"><p>Ibid., p. 5<a href="#fnref9" class="footnote-back">↩</a></p></li>
                <li id="fn10"><p>The may not always been the case.<a href="#fnref10" class="footnote-back">↩</a></p></li>
                <li id="fn11"><p>Preliminary Characteristics Of Pathologies Found In The Skeletons Of Mammoths At The Krakow Spadzista Street (B) Site; Alina Krzemińska p 2<a href="#fnref11" class="footnote-back">↩</a></p></li>
                <li id="fn12"><p>Jonathan T. Hagstrum, et al; p 5<a href="#fnref12" class="footnote-back">↩</a></p></li>
                <li id="fn13"><p>Fisher, D.C.,et al, X-ray computed topography of two mammoth calf mummies, J. Paleontology<a href="#fnref13" class="footnote-back">↩</a></p></li>
                <li id="fn14"><p>A separate article will give fuller explanation of colluvium.<a href="#fnref14" class="footnote-back">↩</a></p></li>
                <li id="fn15"><p>Best, R. H., Lightning stroke on swine. The Canadian Veterinary J. article 1967 Jan<a href="#fnref15" class="footnote-back">↩</a></p></li>
                <li id="fn16"><p>Strong evidence for dietary mineral imbalance as the cause of osteodystrophy in Late Glacial woolly mammoths at the Berelyokh site (Northern Yakutia, Russia) Sergey V. Leshchinskiy P 149<a href="#fnref16" class="footnote-back">↩</a></p></li>
                <li id="fn17"><p>PRELIMINARY CHARACTERISTICS OF PATHOLOGIES FOUND IN THE SKELETONS OF MAMMOTHS Alina Krzemińska p. 53, 54<a href="#fnref17" class="footnote-back">↩</a></p></li>
                <li id="fn18"><p>tiny furrows left by the its jaws<a href="#fnref18" class="footnote-back">↩</a></p></li>
                <li id="fn19"><p>Cement Furrows in the Dentition of Mammuthus primigenius and the Question of their Etiology, Laura B. NIVEN and Piotr WOJTAL, Table III<a href="#fnref19" class="footnote-back">↩</a></p></li>
                <li id="fn20"><p>Report on the cypress timber of Mississippi and Louisiana; Montroville W Wilson and Andrew Brown, article<a href="#fnref20" class="footnote-back">↩</a></p></li>
                <li id="fn21"><p>This subject will be further developed in another article<a href="#fnref21" class="footnote-back">↩</a></p></li>
                <li id="fn22"><p>https://texasbeyondhistory.net/bonfire/bb1.html<a href="#fnref22" class="footnote-back">↩</a></p></li>
                <li id="fn23"><p>BONFIRE SHELTER: A ZOOARCHAEOLOGICAL REEVALUATION OF BONE BED 2 James O. Ramsey, B.A. p 38<a href="#fnref23" class="footnote-back">↩</a></p></li>
                <li id="fn24"><p>SOILS AND NEAR SURFACE GEOLOGY OF CAROLINA BAYS: A REVIEW; article<a href="#fnref24" class="footnote-back">↩</a></p></li>
                </ol>
                </section>
            </div>
        </div>
    </div>