<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Donate</span>
</div>
<div class="donate-container d-flex">
    <div class="donate-content">
        <div class="donate-title page-title">
            <span>Donate</span>
        </div>
        <div class="donate-description page-description">
            If you are a fan of our work and would like to leave us a tip, feel free to donate. Thank you very much for your support!
        </div>
        <ul class="donation-list">
            <li class="d-flex">
                <label class="donate-label">
                    <img class="btc-logo" src="/images/donate-page/bitcoin.png">
                </label>
                <span class="donate-address">bc1qa4egg43z6c354hm925zwpy86age7f00eup08p4</span>
                <a class="donate-btn" title="Copy to clipboard"><i class="far fa-copy" aria-hidden="true"></i></a>
            </li>
            <li class="d-flex">
                <label class="donate-label">
                    <img class="eth-logo" src="../images/donate-page/eth.png">
                </label>
                <span class="donate-address">0x19f38078dC74899c84083277778834CFfe15D25c</span>
                <a class="donate-btn" title="Copy to clipboard"><i class="far fa-copy" aria-hidden="true"></i></a>
            </li>
            <li class="d-flex">
                <label class="donate-label">
                    <img class="xmr-logo" src="../images/donate-page/monero.png">
                </label>
                <span class="donate-address">42PpwhYhhdbFurcWXErEkK5EHUKXpYHRUVUv5MJmXe9hWTsvUoUBX9EghsT4tsa8o14LudCwzURjs84G5Bmb2Hoa9XoQCVT</span>
                <a class="donate-btn" title="Copy to clipboard"><i class="far fa-copy" aria-hidden="true"></i></a>
            </li>
            <li class="d-flex">
                <label class="donate-label">
                    <img class="ada-logo" src="../images/donate-page/cardano.png">
                </label>
                <span class="donate-address">addr1qy65s063cwly4a7cwtxxs7lrwrf5wp0464g4prqtp7042jknerqqzyppc6m2v4qs6gx0c7sp32dqgjpmjqpeqkvlntfsnq59wy</span>
                <a class="donate-btn" title="Copy to clipboard"><i class="far fa-copy" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>