
    <div class="gallery-container d-flex">
        <!-- <div class="gallery-header">
            <div class="gallery-title page-title">
                <span>Photo Gallery</span>
            </div>
        </div> -->
        <div class="gallery-content d-flex">
            <div class="image-carousel d-flex">
                <button class="carousel__button carousel__button--left d-none">
                    <img src="../images/gallery/arrow-left.svg">
                </button>
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        {{#each images}}
                        <li class="carousel__slide current-slide">
                            <img class="carousel__image" src="../images{{url}}">
                            <p class="carousel__description">{{description}}</p>
                        </li>
                        {{/each }}
                    </ul>
                </div>
                <button class="carousel__button carousel__button--right">
                    <img src="../images/gallery/arrow-right.svg">
                </button>
            </div>
            <div class="carousel__nav">
                <button class="carousel__indicator current-slide"></button>
                {{#each dots}}
                    <button class="carousel__indicator"></button>
                {{/each }}
            </div>
            <div class="carousel__commentary">
                {{!-- {{#each images}}
                    <p class="">
                        {{description}}
                    </p>
                {{/each }} --}}
                {{!-- furture carosel for descriptions --}}
            </div>
        </div>

    </div>
    <script src="../javascripts/carousel.js"></script>
