<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <a class="breadcrumbs_greyText" href="/articles">
            <span>Articles</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Plasma: Peratt Environment</span>
</div>
<div class="article-container d-flex">
        <div class="article-header d-flex border-b">
            <div class="article-title-meta">
                Plasma: Peratt Environment
            </div>
            <div class="d-flex">
                <div class="article-meta">
                    <span class= "author-meta">Brian Cairns</span><img  class="plasma-mammoth" src="../images/contact-page/mammoth.png"><span class="article-date"> July 12, 2021</span>

                </div>
            </div>
        </div>
        <div class="article-main d-grid">
            <div class="article-navigation">
                <div class="nav-section author-section border-b">
                    <span class= "nav-author">
                         <img src="../images/contact-page/mammoth.png"><span>Brian Cairns</span>
                    </span>
                </div>
                <div class="nav-section d-flex flex-col border-b nav-category">
                    <span class="nav-title">Category</span>
                    <span class="nav-category">Plasma</span>
                </div>
                <div class="nav-section d-flex flex-col border-b next-article">
                    <span class="nav-title">Next Article</span>
                    <a class="nav-new-article" href="/articles/death-of-the-megafauna">Death of The MegaFauna</a>
                </div>
                <div class="nav-section nav-back" >
                    <a class="go-back" href="/articles"> <i class="fas fa-arrow-left"></i>Back to All Articles </a>
                </div>
            </div>
            <div class="article-content">
                <h2 class="section-title" id="intro"><span>Introduction</span></h2>
                <p class="article-p" >This article is a study of what can be learned about plasma events from the graphics left by Sardinia’s farmers. As earlier articles pointed out, the presence of massive plasma z-pinch auroras (ZPAs) created a Peratt environment. Two types of phenomena were associated with it. They were the Peratt event (PE, plasma) and the Sipsey event (SE, electricity)<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>. In the Domus de Janas (DdJ), the underground shelters built as refuges from the Peratt environments, there are images detailing what occurred. Except for one instance, all images in the DdJs concern <strong>plasma</strong>. The remarkable images in the DdJs S’Incantu and Mandra Antine provide valuable details of plasma’s behavior during Parett environments. The images demostrate plasma’s profound role in Earth’s natural processes.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/plasma-peratt-environment/pl_CME_plasma_eruption_drawing_arrow.jpeg" alt="CME plasma discharge (arrow) during a Corona mass ejection." /><figcaption>CME plasma discharge (arrow) during a Corona mass ejection.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 1</h5>


                <h2 class="section-title" id="earth-plasma-connection"><span>Earth-Plasma Connection</span></h2>
                <p class="article-p">In the Corona mass ejection, figure 1, the plasma discharge, indicated by the red arrow, illustrates one phenomenon documented in the DdJs. It is <em>straight</em> just like the image portrayed in the DdJ Mandra Antine. The ZPA was also depicted with straight edges. While the solar discharge was rapid, the ZPA-earth plasma connection, PE, probably was not. There is no evidence that PEs were violent in the manner of a bolt of lightning. The PEs were also represented graphically as in the Mandra Antine, figure 7, or as columns, figure 3, chiseled from solid rock. The care taken in creating DdJ S’Incantu, figure 2, probably recorded an eyewitness account of a very powerful Peratt environment.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure> 
                    <img class="single" src="../images/articles/plasma-peratt-environment/pl_castangia_sincantu_numbers.jpeg" alt="N. Castangia: DdJ S’Inantu." /><figcaption>N. Castangia: DdJ S’Inantu.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 2</h5>


                <h2 class="section-title" id="castangia-structure"><span>Castangia Structure</span></h2>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class ="single" src="../images/articles/plasma-peratt-environment/nicola_castangia_ddj_sincantu_ceiling_numbers.jpeg" alt="N. Castangia: DdJ S’Incantu showing the Castangia Structure." /><figcaption>N. Castangia: DdJ S’Incantu showing the Castangia Structure.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 3</h5>


                <p class="article-p">The superb photography of Nicola Castangia (figure 2,3,6) captures much of the detail in this remarkable creation. What is depicted was the occurrence of a very powerful Peratt environment. The depiction is different from those that shows a ZPA with a single PE descending to earth. Here, two PE plasma connections are depicted as two columns (5). In figure 3, the two PE-earth connections are shown. The ZPA only extended to just the distance between the columns, figure 6. This type of ZPA bounded by PEs will be called a Castangia structure (CS). On the right side wall in figure 2, there is another CS (5) depicted as a square. In figure 3, the plasma double layer structure of the ZPA was clearly detailed on the ceiling connecting the two PE columns<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a>. The double layer can be seen as two thin red lines (4) separated by the dark void of space (2). Since the column is square, this suggests that the PE was also a double layer. The CS is connected to the neighboring ZPAs by plasma ’circuitry’ shown as red bands on the ceiling. For another example of a CS see figure 6. It was drawn as a ’box’ with two ZPAs above. The CS frequently appears as a frame around entrances to internal rooms within DdJs. Only an eyewitness could have captured this detail.</p>
                
                <h2 class="section-title" id="peratt-environment"><span>Peratt Environment</span></h2>

                <p class="article-p">Everything about plasma is precise. No penumbra was detailed in images within the DdJs or on the island’s geology. This precision strongly suggests a PE was not explosive in the manner of electricity. PEs connect straight down to earth’s plasma. The CS, figure 6, suggests earth has its own internal plasma source that forms into a z-pinch below the ZPA. Note the red detail at the base of the CS. It may have appeared as a z-pinch near earth’s surface with ’nodes’ like the one emerging from the z-pinch in figure 5. Both S’Incantu and Mandra Antine have detail that appear to be z-pinches. They are not connected to the CS. Dr. Peratt states the red arises from energized oxygen atoms. The plasma from the ZPA drops straight down connecting with each earth plasma ’node’, figure 2 (8). Carved ZPA images in DdJs, such as that in figure 4, were always shown with an emerging ’node’. Such ’nodes’ must have been a common sight whenever the ZPAs appeared.</p>
                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/plasma-peratt-environment/DdJ_bull_image_of peratt_event.jpeg" alt="Cross section of a ’node’." /><figcaption>Cross section of a ’node’.</figcaption>
                        <h5 class="figure-title">Figure 4</h5>
                    </figure>


                    <figure>
                        <img class="figure" src="../images/articles/plasma-peratt-environment/pl_sincantu_node.jpeg" alt="Cross section of a ’node’." /><figcaption>Cross section of a ’node’.</figcaption>
                        <h5 class="figure-title">Figure 5</h5>
                    </figure>

                </div>

                <p class="article-p">Plasma’s precision is again evident in figure 5, a cross-section of a ’node’. This plasma feature persisted long enough for the creator to get a clear impression of its structure. It was also quite large. Only three span the distance between the legs of the CS, figure 6. The center circle is actually a depression in the floor which probably represented a void. The CS created in figure 6, shows ’nodes’ between and outside the two red PE columns. Where the daylight strikes the wall in figure 2, is the square shape (5) of another CS. The CS connected with each ’node’ as it moved over and above the landscape. With each connection, a zp-print was printed on the terrain. The figure 2 creation must have recorded a very powerful Peratt environment with the two CS and plasma ’nodes’ in figure 6. This would explain the complex mosaic of zp-prints on Trexenta and Marmilla’s landscape.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                        <img class="single" src="../images/articles/plasma-peratt-environment/pl_ddj_pubusattile_castangia_numbers.jpeg" alt="Nicola Castangia: DdJ Villanova Monteleone" /><figcaption>Nicola Castangia: DdJ Villanova Monteleone.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 6</h5>

                <p class="article-p">Since the CS was a plasma event, it had to have created a gravitational field that equalized earth’s gravity. The only explanation for levitation was these intense plasma structures that spanned a section of the landscape. This caused the levitation of colluvium. The Castangia structure created a gravitational field above earth’s surface between the two PEs which levitated material over a broad area. As the ZPA’s gravitational force waned, the earth’s gravitational force gradually reclaimed the terrain. The first locations to be reclaimed were probably hillsides, nuraghi<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a> and especially unprotected wells.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/plasma-peratt-environment/pl_schimatic_mandra_antine.jpeg" alt="Schematic of DdJ Mandra Antine." /><figcaption>Schematic of DdJ Mandra Antine.</figcaption>
                    </figure >
                </div>
                <h5 class="figure-title">Figure 7</h5>

                
                <p class="article-p">A schematic of DdJ Mandra Antine, figure 7, provides more information about the Peratt environment than photographs can convey because of the damage to the structure. In the center there is the square box representing the CS. Above the number 8, figure 8, are some dark circles. These represent colluvium clouds raised by the SEs. These electrical discharges descended directly from the ZPA. This sustains the suggestion that powerful electrical discharges swept the landscape beneath the z-pinches, driving animals before them. Another SE is pictured above the number 9. This strike occurred from the atmosphere and was not associated with the plasma structures. Space is portrayed as a dark area like the space between the plasma double layer seen on the ceilings. Fred Plummer reports, in ’LIGHTNING IN RELATION TO FOREST FIRES’, that lightning strikes can occur from a clear sky. For this type of strike to have been added to the DdJ Mandra Antine image, it must imply that they were a common occurrence. This would indicate that the entire atmosphere was highly charged when the ZPAs appeared overhead. The role played by the feature stretching below and between the numbers 6 and 9 is not clear except it may have been a type of z-pinch very close to the ground. A similar feature can be seen in DdJ S’incantu, but it is not red. The same type of image was noted by American Indians in the southwest.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/plasma-peratt-environment/sipsey_event_fr_mandra_antine.jpeg" alt="Donna Nuragica: From Mandra Antine, the colluvium cloud (7) raised by the SEs (arrow). Three are descending from the ZPA and a fourth from empty space (2). The clouds could not have formed if the z-pinch had not been above." /><figcaption>Donna Nuragica: From Mandra Antine, the colluvium cloud (7) raised by the SEs (arrow). Three are descending from the ZPA and a fourth from empty space (2). The clouds could not have formed if the z-pinch had not been above.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 8</h5>

                <p class="article-p">American Indians also made records of the ZPA’s appearances, fig 9. In his study of petroglyphs as representations of z-pinches seen in the heavens by ancient people, Dr. Peratt and colleagues recorded figures like the anthropomorphic image on the rock wall, (3). From the ZPA (4), a PE (6) is descending. Two SEs (2) are descending from the ZPA (4). The SEs are drawn with the erratic path typical of a bolt of electricity. DdJs typically show three to five ZPAs in their interiors. The creator here had five bars representing five ZPAs (5). The same number that appear in DdJ Mandra Antine. Three are red. The center one is black with a red border like the double layer plasma structure seen on the ceiling of the DdJs S’Incantu and Mandra Antine. This image may date to the Bonfire buffalo jump when the estimated 800 animals were supposedly driven over a nearby cliff at about 800 BC. Instead of being a buffalo jump, these animals may well have been driven to the cliff edge and destroyed by the line of SE discharges emanating from a ZPA, as seen in figure 9<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a>. This image was more recent than the last ZPA appearance on Sardinia.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/plasma-peratt-environment/pl_peratt_indian_graphic_numbers.jpeg" alt="Courtesy of the TX Archaeological Research Laboratory, U of Texas at Austin." /><figcaption>Courtesy of the TX Archaeological Research Laboratory, U of Texas at Austin.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 9</h5>

                <h2 class="section-title" id="colluvium"><span>Colluvium</span></h2>
                <p class="article-p">The geology of Sardinia can not be explained without acknowledging plasma’s role. The sculpting of the landscape is too precise to have been a violent event. While electricity distorts the rock around the current’s path, figure 12, with a series of arching fractures, plasma makes clean slices leaving adjacent rock unaltered. This can be seen in figure 10 and 11. In figure 10, the light colored wedge of colluvium indicates it originally occupied this field. A plasma event sliced through it leaving a darker colluvium behind. The bedrock in figure 11 abruptly ends and was replaced with friable soil. Both are illustrative of a very precise flow of energy. The plasma boundary is very different from a pattern left by electricity.</p>
                
                <div class = "figure-margin d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/plasma-peratt-environment/pl_plasma pattern2.jpeg" alt="Plasma sliced through colluvium. " class="plasma-pattern2"/><figcaption>Plasma sliced through colluvium. </figcaption>
                    <h5 class="figure-title">Figure 10</h5>

                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/plasma-peratt-environment/pl_plasma pattern3.jpeg" alt="Plasma sliced through the rock. " class="plasma-pattern3" /><figcaption>Plasma sliced through the rock. </figcaption>
                    <h5 class="figure-title">Figure 11</h5>

                    </figure>
                </div>

                <p class="article-p">Surrounding a current of electricity is an intense magnetic field. The field’s effect on rock is to discolor it, i.e. alter the molecular structure of the rock<a href="#fn5" class="footnote-ref" id="fnref5"><sup>5</sup></a>, and to fracture it as seen in figure 12. Less powerful electrical strikes discolor the rock without leaving evidence of fracturing. Sardinia makes very clear that electricity played a very insignificant role in shaping the island’s landscape.</p>
                
                <div class = "d-grid article-col1 center ">
                    <figure>
                        <img class="single" src="../images/articles/plasma-peratt-environment/pl_electrical_pattern.jpeg" alt="Curved fracturing of rock from the passage of an electrical current." /><figcaption>Curved fracturing of rock from the passage of an electrical current.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 12</h5>


                <p class="article-p">Graphics on the walls of the Domus de Janas’ provide a detailed description of what occurred on Sardinia and what has been happening on the planet. As the z-pinch auroras became more energized, they progressed from red auroras, to Sipsey Events, to Peratt Events, to Castangia Structures. It was probably the latter that was responsible, at the end of the Pleistocene, for printing most of the complex mosaic pattern on the landscape around Gesico. As the first article pointed out, a <strong>vast</strong> amount of rock disappeared on Sardinia. The question is what happened to it? In all probability, the rock reverted to plasma. It is possible solid matter is another form of plasma. Another question the DdJs answer is the origin of gravity. There is a vast amount of evidence that rock was levitated on Sardinia. The only change on the island that could have accounted for the levitation was the presence over the island of z-pinches. As Dr. Peratt said one form of plasma exerts the same inverse proportional force as gravity. Therefore, plasma has to be the source of gravity.</p>
                
                <section class="footnotes border-t">
                    <ol class="footnotes">
                    <li id="fn1"><p>It is evident from the geology that other phenomena were associated with these events, but they will not be discussed here.<a href="#fnref1" class="footnote-back">↩</a></p></li>
                    <li id="fn2"><p>See Dr. Peratt’s discusion of the plasma double layer at: https://www.plasma-universe.com/Double-layer/<a href="#fnref2" class="footnote-back">↩</a></p></li>
                    <li id="fn3"><p>All nuraghi were found to some extent buried which can not be explained.<a href="#fnref3" class="footnote-back">↩</a></p></li>
                    <li id="fn4"><p>See https://texasbeyondhistory.net/bonfire/bb1.html.<a href="#fnref4" class="footnote-back">↩</a></p></li>
                    <li id="fn5"><p>XRD analysis of rock samples taken from the Sipsey strike, (see the first article, <em>Why Nuraghi Were Built...</em>), found alterations in the samples’ molecular structure compared to rock outside the strike pattern. Analysis was provided by the New Mexico Bureau of Mines and Geology.<a href="#fnref5" class="footnote-back">↩</a></p></li>
                    </ol>
                </section>

            </div>
        </div>
    </div>