<div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>

        <a class="breadcrumbs_greyText" href="/contact">
            <span>Contact</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Success</span>
</div>
<div class="message-success_container">
      <div class="card">
        <div class="checkmark_container">
            <i class="checkmark">✓</i>
        </div>
            <h1>Success</h1> 
            <p>We received your message;<br/> we'll be in touch shortly!</p>
      </div>
</div>