    <div class="breadcrumbs_container d-flex">
        <a class="breadcrumbs_greyText" href="/">
            <span>Home</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <a class="breadcrumbs_greyText" href="/articles">
            <span>Articles</span>
        </a>
        <span class="breadcrumbs_greyText"> / </span>
        <span class="breadcrumbs_current">Why the Nuraghi Were Built</span>
</div>
    <div class="article-container d-flex">
        <div class="article-header d-flex border-b">
            <div class="article-title-meta">
                Why The Nuraghi Were Built
            </div>
            <div class="d-flex">
                <div class="article-meta d-flex">
                            <span class= "author-meta">Brian Cairns</span><img src="../images/contact-page/mammoth.png"><span class="article-date">March 30, 2021</span>
                </div>
            </div>
        </div>
        <div class="article-main d-grid">
            <div class="article-navigation">
                <div class="nav-section author-section border-b">
                    <span class= "nav-author">
                         <img src="../images/contact-page/mammoth.png"><span>Brian Cairns</span>
                    </span>
                </div>
                <div class="nav-section d-flex flex-col border-b nav-category">
                    <span class="nav-title">Category</span>
                    <span class="nav-category">Nuraghi</span>
                </div>
                <div class="nav-section d-flex flex-col border-b next-article">
                    <span class="nav-title">Next Article</span>
                    <a class="nav-new-article" href="/articles/plasma-peratt-environment">Plasma: Peratt Environment</a>
                </div>
                <div class="nav-section nav-back" >
                    <a class="go-back" href="/articles"> <i class="fas fa-arrow-left"></i>Back to All Articles </a>
                </div>
            </div>
            <div class="article-content">
                <h2 class="section-title" id="intro"><span>Introduction</span></h2>
                <p class="article-p">Nothing in the annals of geology can explain this landscape in the districts of Marmilla and Trexenta near Gesico, Sardinia. However, neolithic farmers living on the island over four thousand years ago documented what happened to create this landscape<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a>, figure 1. It was not pleasant. They built the massive nuraghi in response. Nuraghe Santu Antine has walls 5 meters thick. Poor farmers would not have built these massive monuments unless confronting an extremely powerful force, the plasma driven Z-pinch Aurora.</p>
                <p class="article-p">A major precept of geology asserts that the landscape is shaped over time by erosion. However, Sardinian farmers would say that terrain alteration can occur in a flash of light. The flash was the Z-pinch Aurora plasma-earth connection. This narrative will advance evidence explaining the patterns on Trexenta and Marmilla, and why the nuraghi were built.</p>

                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/why-the-nuraghi-were-built/gesico_landscape.jpeg" alt="Mapbox image: Landscape near Gesico, Sardinia." /><figcaption>Mapbox image: Landscape near Gesico, Sardinia.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title"> Figure 1</h5>


                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                    <img class="figure" src="../images/articles/why-the-nuraghi-were-built/nuraghe_santu_antine.jpeg" alt="Donna Nuragica: Nuraghe Santu Antine" /><figcaption> a) Nuraghe Santu Antine.</figcaption>
                    </figure>

                    <figure>
                    <img class="figure" src="../images/articles/why-the-nuraghi-were-built/pedroglhmobilebay.JPG" alt="Author: Petroglyph Mobile Bay, Alabama" /><figcaption> b) Petroglyph Mobile Bay, Alabama.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title"> Figure 2</h5>

                <h2 class="section-title" id="plasma"><span>Plasma</span></h2>


                <p class="article-p">The research of Dr. Anthony Peratt and colleagues is essential to understanding the force that created the field patterns on Trexenta and Marmilla. Having spent over a decade studying petroglyph images left by paleolithic and neolithic people across the world, he asserts that many of these images recorded what he calls Z-pinch auroras (ZPA) seen in the heavens thousands of years ago. He recreated the petroglyph images in his plasma laboratory at Los Alamos.<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a> Dr. Peratt states, “When an intense coronal mass ejection [or other energy source] occurs... the power of the solar-wind–magnetosphere generator may exceed 10 terrawatts. Simultaneously, the magnetic field produced by the auroral discharge current produces an intense geomagnetic storm ultimately heating Earth’s upper atmosphere. When oxygen atoms collide with heated atoms, the atoms emit a <strong>dark red light</strong> (<em>emphasis added</em>)... seen high in the aurora curtain, generally 250-1000 km in altitude." He continues, “Because of the intense plasma flow and strong longitudinal magnetic field, the plasma forms a thin but dense sheath or plasma column in its propagation toward Earth.” He included the image below in his paper.</p>

                <div class = "d-grid article-col1 center ">
                    <figure>
                    <img class="single" src="../images/articles/why-the-nuraghi-were-built/peratt_Zentral_Bibliothik.jpeg" alt="Image from S.I Akasofu: Zurich, SW" /><figcaption>Image from S.I Akasofu: Zurich, SW. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title"> Figure 3</h5>


                <p class="article-p">Dr. Peratt’s research dealt entirely with what was seen in the heavens. It might be said, where Dr. Peratt left off the farmers of Sardinia continued. Besides building nuraghi, farmers also constructed underground shelters termed today: Domus de Janas (DdJ). They were underground shelters carved out of solid rock. It was in these DdJs where past events were recorded. They left in some DdJs meticulously crafted images of what was witnessed occurring on the island. Once the perceived danger of the ZPA had passed, they evolved into burial places.</p>
                <p class="article-p">What the farmers recorded was the highly charged ZPA and earth’s surface in the form of massive plasma connections, called Peratt events (PE). This interaction created the patterns seen in the Trexenta and Marmilla landscape in figure 1. In the DdJ Mandra Antine of figure 4, an artist carefully crafted an image of one occurrence of a PE. The lines of the ZPA depiction are very straight, precisely defined in red and smoothly turned up at the ends. This was not an artistic creation, but a document recording what was witnessed. The image matches what Dr. Peratt predicted would be seen. He stated that the very powerful ZPA would be red, very narrow and dense. This is the impression conveyed by the image.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/MFmandra_antine_scaled_down.jpeg" alt="Plasma connection to earth" /><figcaption>a) Plasma connection to earth.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/MF_mandra_antine_ceilingscaled_down.jpeg" alt="Mandra Antine ceiling" /><figcaption>b) Mandra Antine ceiling.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title"> Figure 4</h5>

                <p class="article-p">While the interior at some point was heavily damaged, enough remains to understand the ancient message. The artist crafted five ZPAs, all colored red, two in front of the camera, one running down the center of the ceiling and two more behind the camera, mostly destroyed and not shown. Figure 4a shows a ZPA with a plasma connection, (PE), to earth. The ZPAs appear to have been connected by diagonal plasma ‘circuitry’ which probably vastly increased the release of power. The PE was a earth-ZPA plasma connection like the connection diagonals on Mandra Antine’s ceiling. The diagonals are similar to those seen in figure 3. The DdJ image probably captured what was seen when the environment was directly overhead as the ZPAs swept the island.<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a></p>
                <p class="article-p">The term Peratt environment is used when it is not possible to distinguish between the two forces involved. The examples below were either the consequences of plasma, PEs, or electricity, SEs. Plasma sculpted the terrain in a major way, and electricity did so in a minor way. Since this narrative is based on photographic evidence, it is not always easy to differentiate the two effects at a micro level, so the term Peratt environment is used.</p>
                <p class="article-p">While the frequency of these environments is uncertain, stairs in the nuraghi show considerable wear.<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4,</sup></a><a href="#fn5" class="footnote-ref" id="fnref5"><sup>5</sup></a> Geologic evidence indicates PEs themselves were not violent events. Furthermore, there was a clear distinction between electrical and plasma prints. They may have been more like a slow establishment of a plasma connection between earth and the ZPA as the charge built-up. The rapidity of the connection between earth and the ZPA may have been far slower than with an electrical discharge. Viewing the PE as a discharge like that of lightning bolt may be too simplistic. When the ZPA-earth connection was made, it had an exponentially greater impact on the landscape than even the largest electrical bolt. This can be seen in the following images.</p>

                <div class = "d-grid article-col1-col1 center">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/ddj_Orto_del_Beneficio_Parrocchialefalco2014.jpeg" alt="Plasma connection established." /><figcaption>a) Plasma connection established.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/ddj_side_Orto_del_Benefici_Parrocchialefalco2014.jpeg" alt="Plasma connection is building." /><figcaption>b) Plasma connection is building.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 5</h5>

                <p class="article-p">The two images of figure 5 are taken from the work of falco2014 on Flickr. Both images are of the same graphic, but from different angles. Again, the scene was carefully crafted with the perspective being a distance view. The creator divided his work into two panels separated by the vertical bar. The panel, figure 5b, shows a plasma building on the ZPA before the connection occurs. The second panel, figure 5a, shows two connections establish from separate ZPAs touching the ground. They are massive currents of plasma dropping straight down from the center of the ZPAs. What is presented are multiple PEs occurring during the during a Peratt environment. Of critical interest here is the recessed floor in front of the panel, figure 5a, left of the vertical bar as compared to the floor level in front of panel in figure 5b. The difference in floor levels easily stands out in 5b. The recessed floor represents a major effect the strikes had on the landscape, and sustains the veracity of the artist’s record.</p>
                <p class="article-p">An observation about lightning is helpful in understanding what was seen by the farmers. Fred G. Plummer reported photos of lightning bolts shaped like ribbons.<a href="#fn6" class="footnote-ref" id="fnref6"><sup>6</sup></a> <em>Electricity is scalable so what occurs in micro occurs in macro</em>, a critically important principle to <em>always</em> remember. The PE emerged from the center of the ZPA as a ribbon of red plasma. It was probably extremely thin. The linear, rather than columnar discharge, conforms to the ZPA shape and Sardinia’s terrain pattern. PE connections may have persisted for a unknown period of time while the ZPA moved across the landscape. It reduced the rock in a process termed here stigmimorphism from the Greek word for instant. The PEs produced arable land and soil. The island’s landscape confirms Peratt environments made repeated occurrences over thousands of years.</p>
                <p class="article-p">Of course the images above could be dismissed as nothing more than some sort of religious symbolism by primitive people. That will not, however, resolve the evidence found on the terrain. In the two images below, one rectangular field is inside another rectangular field. <em>The shape can’t be attributed to any type of erosion.</em> Massive PEs produced the rectangles. The pattern printed on the terrain will be termed a ‘zp-print’. Looking closer, the inter rectangle is abruptly lower to the right side of the neighboring field and abruptly higher to the left side to the adjacent field. In figure 6b, it is abruptly lower. The recessed floor in figure 5 reflects exactly the abrupt change in elevation seen below. Abrupt elevation change (AEC) defines many of the agricultural fields on Sardinia (Elsewhere, AECs are termed a terrace, but terrace is too closely associated with farming to clearly convey the AEC’s origin). This image raises a profound question which will be addressed below. The elevation difference can range from a one or two centimeters to meters.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                            <img class="figure" src="../images/articles/why-the-nuraghi-were-built/square_pattern_left_39_6412497_9_1256797.jpeg" alt="The left side is abruptly higher." /><figcaption> b) The left side is abruptly higher.</figcaption>
                    </figure>    
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/sqauare_patterm_right_39_641577_9_1260671.jpeg" alt="The right side is abruptly lower." /><figcaption> a) The right side is abruptly lower.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 6</h5>

                <h2 class="section-title" id="aec"><span>Abrupt Elevation Changes</span></h2>

                <p class="article-p">The images of figure 7 are examples of AECs. Figures 7a-e are from Sardinia and figure 7f is taken from I-80 in Iowa. The images clearly show that arable land is the product of plasma discharges. Without zp-prints, the hillside in figure 7b would have been a typically marginally useful agricultural land. Whether the land was initially usable after formation is an open question. The field in Iowa of figure 7f is composed of multiple geometric plains just like the agricultural fields on Sardinia. The AECs along I-80 can be seen the length of this interstate. Figure 7e depicts a feature seen occasionally in the mountains.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/fulmen_agricultural.jpeg" />
                        <figcaption> a)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/sculpted_farmland.jpeg" />
                        <figcaption> b)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/AEC_making_agricultural_fields.jpeg" />
                        <figcaption> c)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/5_AEC_39_5973979_9_0574452.jpeg" />
                        <figcaption> d)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/cresent_shaped_strike_showing_2_currents.jpeg" />
                        <figcaption> e)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/20170818_131821a.jpeg" />
                        <figcaption> f)</figcaption>
                    </figure>
                </div>
                <h5 class="center figure-title" >Figure 7: Examples of AECs.</h5>

                <p class="article-p">That plasma was highly unpredictable as shown by the complex pattern in Trexenta’s landscape. However, one common result was a planing effect on the surface of bedrock as seen in figures 8a-b. The road cut shows how a ZPA strike removed a layer of rock, and a layer of colluvium was left in its place. Colluvium is the random mixture of coarse and fine sediment without evidence of stratification. In figure 8c, there stands a column of rock. It was once embedded in a matrix of bedrock. Plasma strikes planed off the surrounding matrix. Figure 8d is the truncated remains of a hill that once occupied the area. The general geologic narrative states that water was supposed to have eroded away the hill. However, the broad flat plain is inconsistent with that notion, and sufficient water was never available to accomplish erosion of this magnitude. Figure 8e shows the last vestige of a hill that once occupied part of this broad plain. The missing portion was planed off. Figure 8f gives some indication as to how rock was reduced by the plasma. These images demonstrate the disruption Sardinia’s geology will have on that science. Nothing in the geologic narrative can explain any of these natural features.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/plaining_road_cut_edge.jpeg" alt="Planing by PE." /><figcaption>a) Planing by PE.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/planned_off_rock.JPG" alt="Close-up." /><figcaption>b) Close-up.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/Selection_001.jpeg" alt="A hill was stripped away." /><figcaption>c) A hill that was stripped away.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/Selection_002.jpeg" alt="cliff left after a PE." /><figcaption> d) Cliff left after a PE.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/last_vestage_hill_39_5368478_9_0804002.jpg" alt="Remnant of hill." /><figcaption> e) Remnant of hill.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/two_currents_tunnelling.jpeg" alt="PE effect on rock." /><figcaption> f) PE effect on rock.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 8</h5>

                <h2 class="section-title" id="colluvium"><span>Colluvium</span></h2>

                <p class="article-p">Colluvium seems to be a perplexing subject in geology. Sardinia explains its origins as a product of these ZPA plasma bolts. Figure 9 has two examples. In particular, note the very large hill of colluvium in figure 9a, it’s a rare feature to find in a similarly large deposition. The random mix of coarse and fine debris is the consistent feature of colluvium. A deposit of colluvium can be composed of several depositions, but each layer lacks any stratification. This uniformity results from the ZPA strikes greatly neutralizing earth’s gravity. In the presence of gravity, air resistance would have slowed the fine particles while the heavy material rapidly accumulated on the ground. While this may be difficult to accept, the neutralization of gravity is not that uncommon. To be clear, most colluvium stayed <em>in situ</em>. This subject will be addressed below. Around the nuraghi, gravity persisted to some degree. It was enough to attract the material to bury them as all were at least partially buried. Photos from the 1930s of N. Barumini show it was almost completely buried. See Sergio Melis’s photo of N. Longu with the retaining walls holding back the colluvium running on either side of the entrance. <a href="#fn7" class="footnote-ref" id="fnref7"><sup>7</sup></a> The only creditable force capable of generating the mass of debris needed to bury the nuraghi were the PE.</p>
                <p class="article-p">Figure 9b is another contradiction to the standard geologic narrative. The rocks have a pebble like finish. Geology interprets this as polish being the product of water. The vast majority of exposed rock on Sardinia has a pebble like polish, yet water has never been very abundant on the island. The only reason water is viewed as the agent of polishing stones is because in the beds of all streams can be found masses of pebbles. Therefore, the assumption is water driven abrasion polished them by colliding and rubbing the stones against each other. This notion is a mistake. The polish resulted from plasma erosion on rocks over millennia from repeated visits of ZPA.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure " src="../images/articles/why-the-nuraghi-were-built/hill_of_colluvium_39_9618474_8_8291034.jpeg" alt="Hill of colluvium" /><figcaption>a) Hill of colluvium.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/colluvium_40_0857332_9_5098059.jpeg" alt="Colluvium" /><figcaption>b) Colluvium.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 9</h5>

                <p class="article-p">The two images of figure 10 are from the same location, only a little apart, in which two PE occurred. They exhibit two other features of the ZPA events. The first event left a layer of very coarse colluvium exemplified by the two large boulders on the right side of figure 10a. The second strike left a much finer layer as indicated by the rivulet channels seen in figure 10b. Also, the subdued boundary between coarse and fine material appears just above the boulders as an inverted arch. The earth view confirms more abundant vegetative growth which matches the general outline of the fine colluvium.<a href="#fn8" class="footnote-ref" id="fnref8"><sup>8</sup></a> This road cut illustrates the beneficial effects of soil creation gained from plasma interaction with earth.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/colluvium_google_rd_cUt.jpeg" alt="Coarse colluvium." /><figcaption>a) Coarse colluvium.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/colluvium_40.jpeg" alt="Rivulet channels cut into colluvium." /><figcaption> b) Rivulet channels cut into colluvium.</figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 10</h5>

                <h2 class="section-title" id="soil-creation"><span>Soil Creation</span></h2>

                <p class="article-p">The two images of figure 11 illustrate the stigmimorphosis (conversion of rock to soil) of the rock. The plasma instantly transformed the rock to soil. There appears to be no difference in the way plasma and electricity reduce rock. It is not clear. Road cuts indicate electricity is capable of stigmimorphosis of rock just not on the same scale. The two road cuts, figure 11a-b, are examples of the abrupt transformation of the rock to soil. The rivulet channels show the soil is friable. The vegetation on the left side of each image is much more abundant and clearly reflects the better growing medium. Stigmimorphism of the rock in the two images appears complete, but many agricultural fields are heavily rock laden. The conversion of rock to soil was rarely complete.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/contrasting_growth_40_6942407_9_3740839.jpeg" alt="Example of the transformation from rock to soil, stigmimorphism. " /><figcaption>a)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/colluvium_40_7630856_9_4277941.jpeg" alt="Example of the transformation from rock to soil, stigmimorphism. " /><figcaption>b) </figcaption>
                    </figure>
                </div>

                <h5 class="center figure-title"> Figure 11: Examples of the transformation from rock to soil, stigmimorphism.</h5>

                <h2 class="section-title" id="electrical-effects"><span>Electrical Effects</span></h2>

                <p class="article-p">The cliff face in the image below illustrates another feature of Sardinia’s geology. The island was struck by a vast number of small but very powerful bolts. This was not clear until a location in Sipsey, Alabama was pointed out by colleague Mark Spann, in figure 12b. The clear vertical slices through the prints left in a road cut by powerful bolts of electricity are rarely seen. A closeup of the Sipsey strike can be seen in figure 12c.<a href="#fn9" class="footnote-ref" id="fnref9"><sup>9</sup></a> The vertical bands around the central path will be referred to Spannotic bands. The slice is not what is important rather the number of strikes that occurred within a short distance. Five strikes can be seen in which two are covered by foliage and revealed by the yellow detritus at the base of the road cut. This same density of strikes can be seen across Sardinia. The cliff was struck by an unknown number of very powerful small electrical strikes. While each Sipsey strike was isolated, those striking the cliff were so concentrated that their effects overlapped, thus the area was wrecked. It displays many of electricity’s effects such as discoloration, Spannotic bands, grooves, soil and other phenomenon. The damage to DdJ Mandra Antine in Donna Nuragica’s photo, figure 4, was probably due to one of these strikes. Like figure 12d on Sardinian Route SP83, this type of evidence is seen everywhere across the island.<a href="#fn10" class="footnote-ref" id="fnref10"><sup>10</sup></a></p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure >
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/cliff_face39_4480048,8.3965799.jpeg" /><figcaption>a) A wrecked cliff. </figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/sipsey_road_cut_strike.jpeg" alt="Author: The Sipsey Event " /><figcaption>b) The Sipsey Event. </figcaption>
                    </figure>

                    <figure >
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/sipsey_road_cut_strike_close_up.JPG" alt="Author: Detail of Sipsey" /><figcaption>c) Detail of Sipsey.</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/spannotic_bands_39_7437129_9_2068354.jpeg" alt="Google:Stigmimorphism by electricity " /><figcaption>d) Stigmimorphism by electricity. </figcaption>
                    </figure>
                </div>
                <h5 class="figure-title">Figure 12</h5>

                <h2 class="section-title" id="conclusion"><span>Conclusion</span></h2>


                <p class="article-p">Three phenomena can be identified directly associated with these strikes that lay outside the normal scientific narrative. Each has been documented by a creditable scientist, so the writer feels he is not engaging in a unicorn hunt. The most serious of the three regards the bedrock. When looking across the districts of Trexenta and Marmilla as well as the rest of Sardinia, a <strong>vast</strong> amount of rock was excavated. Where is it? The rock has disappeared. It will not be found in large hills of colluvium scattered across the island because there are none. The hill of colluvium, figure 9a, was one of only three found in over a thousand miles of roads searched. Looking closely at the Mapbox image, <em></em> the zp-prints remain precisely defined. None can be seen half buried and fading out. AECs are not found disappearing under mounds of colluvium. While this may cause intellectual stress, the fact remains the rock is <strong>gone</strong>.</p>
                <p class="article-p">If this sounds surreal, it should not. Similar disappearance has been documented. Dr. Judy Wood in her exacting study of the 9/11 event, <em>Where did the Towers Go</em>, illustrated in a series of images that the radio antenna atop one of the towers faded to dust.<a href="#fn11" class="footnote-ref" id="fnref11"><sup>11</sup></a> It disappeared. Furthermore, as she states the towers did not collapse but disappeared into dust.<a href="#fn12" class="footnote-ref" id="fnref12"><sup>12</sup></a> Instead of a thirty-meter stack of debris in the footprint of the towers after the event, almost nothing remained. Dr. Wood said she did not know the science behind the 9/11 event, and the same applies to what had occurred on Sardinia. That fact does not alter the reality that material in question disappeared. The disappearance of Sardinia’s rock is a profound challenge to the geologic narrative and underscores how disruptive Sardinia’s geology will be.</p>
                <p class="article-p">The second phenomenon related to the electrical events is levitation. These strikes greatly neutralized earth’s gravity, otherwise, the deposition of colluvium could not be explained. Under normal gravity, air resistance would have dampened the speed of the finer material while the coarser would have continued at or close to free fall speed (ffs). Hence, a deposition would have been stratified. Since colluvium was not stratified, gravity was extremely weak. Air movement also appears to have stopped during the period of deposition. The colluvium probably hung like a cloud, and if it moved, it was toward points where gravity persisted like the nuraghi. This accounts for their partial burial.</p>
                <p class="article-p">The deposition of colluvium is very important, and it is frequently misidentified or ignored. The formation of zp-prints were not violent events. This is evident from the precise deposition between layers of colluvium. While some material was elevated, no upward explosion of rock occurred. However, full development of this subject is outside the scope of this narrative. A separate article will address this material.</p>
                <p class="article-p">The images of figure 13 are further evidence of levitation during the plasma events. Dr. Wood discusses levitation as she documents survivors reporting to have experienced weightlessness.<a href="#fn13" class="footnote-ref" id="fnref13"><sup>13</sup></a> She also refers to a YouTube video recording a tornado lifting a 12,000 lb truck trailer 75 feet into the air.<a href="#fn14" class="footnote-ref" id="fnref14"><sup>14</sup></a> The following images are evidence that weightlessness was a factor with these strikes. In figure 13a-b, there are boulders sitting on surface of the ground. If they had fallen at ffs, they would have at a minimum been partially buried if not fractured, particularly the massive boulder. The smooth finish on the large boulder is typical of the vast majority of exposed bedrock and stones. In the second row of figure 13, there are stacked boulders. These stones could not have come to rest at their present location if ffs was a factor in their descent. Examples below clearly indicate a connection between plasma and gravity.</p>

                <div class = "d-grid article-col1-col1 center ">
                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/levitation_boulder.jpeg" alt="Examples of levitating effect of PEs." /><figcaption>a)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/levitation_field_boulders.jpeg" alt="Examples of levitating effect of PEs." /><figcaption>b) </figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/levitation_stacked_rock.jpeg" alt="Examples of levitating effect of PEs." /><figcaption> c)</figcaption>
                    </figure>

                    <figure>
                        <img class="figure" src="../images/articles/why-the-nuraghi-were-built/40_107715_9_0985407.jpeg" alt="Examples of levitating effect of PEs." /><figcaption>d)</figcaption>
                    </figure>
                </div>
                <h5 class="center figure-title" >Figure 13: Examples of the levitating effect of PEs.</h5>

                <p class="article-p">The third phenomena is the creation of soil and arable land. Dr. Wood used the term ‘dustification’ to explain the reduction to dust of the Twin Tower structures.<a href="#fn15" class="footnote-ref" id="fnref15"><sup>15</sup></a> A word she introduced because she did not understand the physics involved in the dust’s creation and wanted to isolate the process from any preconceived notions conveyed by existing vocabulary. Dustification is applicable to what occurred with the rock and creation of soil, plus most of the rock excavated had disappeared. Since even small strikes were capable of rock reduction, this indicates that it probably occurred at some intermediate point in the transformation of rock.</p>
                <p class="article-p">The brief outline sketched by this narrative is sufficient to explain why the nuraghi were built, and what put the patterns on Trexenta’s and Marmilla’s landscape. Dr. Peratt provided the science that led to those patterns. The artists of the Domus de Janas documented how the science impacted their island. Their images are a window to the past and a warning for the future.<a href="#fn16" class="footnote-ref" id="fnref16"><sup>16</sup></a> Sardinia disrupts the current geologic narrative’s reliance on time dependent erosion. This narrative has no adequate explanation for the zp-prints, arable land, levitation and soil. There is a <em>lot</em> of soil on the planet. ZPAs were part of the earth’s history and were not a one off event. Like the geologic narrative, parts of archaeology, physics, astronomy, etc. will have to be rewritten. The challenge of the ZPAs will open new areas of science, and begin the age of plasma.</p>
                
                <section class="footnotes">
                    <hr class="line-color" />
                    <ol  class="footnotes ">
                        <li id="fn1"><p>The age of nuraghi construction is very imprecise and not pertinent to the narrative’s message.<a href="#fnref1" class="footnote-back">↩</a></p></li>
                        <li id="fn2"><p>See Dr. Peratt’s research at <em>plasma-universe.com</em>.<a href="#fnref2" class="footnote-back">↩</a></p></li>
                        <li id="fn3"><p>The two images are more complex than stated here. A subject to be covered in a separate article.<a href="#fnref3" class="footnote-back">↩</a></p></li>
                        <li id="fn4"><p>Kukela, Agnese; Segliņš, Valdis; Lazdina, Baiba. (2016). The nuraghes as ancient towers of silence. Research Gate pg 3.<a href="#fnref4" class="footnote-back">↩</a></p></li>
                        <li id="fn5"><p>Cavanagh, William; Laxton, R.. (1987). An Investigation into the Construction of Sardinian Nuraghi. Papers of the British School at Rome pg 68<a href="#fnref5" class="footnote-back">↩</a></p></li>
                        <li id="fn6"><p>Fred G. Plummer, <em>Lightning in Relation to Forest Fires</em>. U. S. Department of Agriculture Forest Service Bulletin 111 September 12, 1912, p. 6<a href="#fnref6" class="footnote-back">↩</a></p></li>
                        <li id="fn7"><p><a href="https://www.flickr.com/photos/109665250@N03/27179619436">Flicker</a><a href="#fnref7" class="footnote-back">↩</a></p></li>
                        <li id="fn8"><p>Google map location: 40.0437591,9.5230518<a href="#fnref8" class="footnote-back">↩</a></p></li>
                        <li id="fn9"><p>This type of strike will be called a Sipsey Event (SE) because they were exponentially more powerful than atmospheric strikes. They had limited terrain altering effects.<a href="#fnref9" class="footnote-back">↩</a></p></li>
                        <li id="fn10"><p>Another article will address the two types of events associated with the ZPA. Geological and archeological evidence will be used to clarify what confronted the neolithic farmers when the ZPAs appeared.<a href="#fnref10" class="footnote-back">↩</a></p></li>
                        <li id="fn11"><p>Judy Wood, PhD, Where Did the Towers Go, (The New Investigation, 2010) pg. 133.<a href="#fnref11" class="footnote-back">↩</a></p></li>
                        <li id="fn12"><p>Ibid., 130<a href="#fnref12" class="footnote-back">↩</a></p></li>
                        <li id="fn13"><p>Ibid., 166<a href="#fnref13" class="footnote-back">↩</a></p></li>
                        <li id="fn14"><p><a href= "https://www.Youtube.com/watch?v=WABqwKjQM_c">Video</a><a href="#fnref14" class="footnote-back">↩</a></p></li>
                        <li id="fn15"><p>Ibid., Wood, 132<a href="#fnref15" class="footnote-back">↩</a></p></li>
                        <li id="fn16"><p>Less one thinks only Sardinia suffered the plasma onslaught, look at the field patterns in the Catalonian highlands and around the small Spanish town of Almonacid de la Cuba.<a href="#fnref16" class="footnote-back">↩</a></p></li>
                    </ol>
                </section>
            </div>
        </div>
    </div>